[2019-08-08 13:55] skade opened #2 "Deploy book"
Push book to netlify.

[2019-08-08 14:06] #2 closed, assigned to nobody

[2019-08-12 11:46] skade opened #5 "Fix doc warnings"
We should make a pass over the docs soon, making sure they are free of warnings.

[2019-08-12 11:49] skade opened #6 "Switch on testing for the book"
Required:

* [ ] all code examples compile
* [ ] `mdbook build docs` is added to `.travis.yml`

[2019-08-12 12:11] skade opened #7 "Provide a cargo-generate template"
`cargo-generate` is great, we should ship a template for an `async-std` app with:

* a small example in `src/main.rs`
* an example for a test

[2019-08-12 17:04] skade opened #9 "Patterns collection for the book"
# Splitting reader and writer on a stream

[code]

[2019-08-13 01:59] stjepang opened #11 "Create our own types Empty, Sink, and Cursor"
Instead of re-exporting types `Empty`, `Sink`, and `Cursor` from `std::io` into `async_std::io`, I believe we should create our own equivalents of those types.

The problem with these is that they implement synchronous and asynchronous traits at the same time, and I think that is a mistake. My intuition says that's *wrong* because types should either be synchronous or asynchronous, never both at t

[2019-08-13 02:16] stjepang opened #12 "Make a final decision for the prelude"
Right now I feel we should go with the following prelude:

[code]

I don't think we should add or remove anything from this list, but am unsure about which traits should be anonymously imported (`as _`) and which shouldn't. I feel like fully importing traits like `Read` could be a potential source of conflicts if the user uses `std::io::Read` in their code at the same time.

What about trait `Stre

[2019-08-13 10:59] yoshuawuyts opened #14 "Add Future::join"
In the [2016 futures announcement post](https://aturon.github.io/blog/2016/08/11/futures/), the `join` combinator was shown as something that would make choosing between several futures easy.

In https://github.com/rust-lang-nursery/futures-rs/issues/1215 and beyond this was changed to several methods: `join`, `join1`, `join2`, `join3`, and `join!`, `try_join` macros (proc macros since `0.3.0-alph

[2019-08-13 18:59] skade opened #17 "Standardise examples on one import style"
Most of our examples use different import styles current. We should use just one.

[2019-08-14 01:17] stjepang opened #18 "Change the timeout API?"
Timeouts are confusing. @spacejam recently wrote an example that contains the following piece of code:

[code]

The problem here is that we need two `?`s after `.await` and it's easy to forget that.

I think the confusing part is in that the `.timeout()` combinator looks like it just *transforms* the future in a similar vein to `.map()` or `.and_then()`, but it really does not!

Instead, `.timeout

[2019-08-14 01:48] #17 closed, assigned to nobody

[2019-08-14 15:48] #5 closed, assigned to nobody

[2019-08-14 17:59] skade opened #22 "Port std::process"
Design document with active discussion:

https://paper.dropbox.com/doc/async-process--Ae7VXYrJ4sSucoYlMC7XYBQvAg-Fbg2Jq7UbhqihtnWpc1EY

External process execution is clearly asynchronous. This API should make it possible to both asynchronously handle IO streams and also just wait for them to finish their execution.

[2019-08-14 18:12] matklad opened #23 "async_std::Stream interracts badly with futures::select!"
`futures::select!` requires that the streams selected over implement `futures::FusedStream`. There's a `.fuse()` method on `futures::StreamExt` which fuses any stream. The problem is, to use `StreamExt::fuse` on has to import this trait, and then the `.next` method collides between `async_std::Stream` and `futures::StreamExt`.

See also https://github.com/async-rs/a-chat/pull/1#discussion_r3139926

[2019-08-15 10:33] ghost opened #26 "Link to website and book from README and lib.rs docs"

[2019-08-15 14:05] #26 closed, assigned to skade

[2019-08-15 14:59] skade opened #31 "Stray link in README"
The text says " [cargo add][cargo-add] " (instead of being the link).

[2019-08-16 09:27] #31 closed, assigned to nobody

[2019-08-16 10:23] vertexclique opened #36 "Add Flow API"
Currently, we have `Stream` API implementation. For async processing of incoming data, we can add `Flow` API.

## What is Flow API?

### Use case 1
Imagine I have a stream like this:
[code]

I want to dispatch events to different processing stages. Like I want to add all `1`s, multiply all `2`s etc.

There is no convenient way to do that except initially creating different streams for them.
This i

[2019-08-16 13:36] #36 closed, assigned to nobody

[2019-08-16 16:45] jamesmunns opened #48 "Test non x86-64 targets before 1.0.0 release"
Currently, all CI tests is x86_64. We should have a policy and testing for other platforms, such as ARM, or non-64 bit x86 targets.

[2019-08-16 19:20] ExoticMatter opened #50 "TcpListener::bind, etc. may block"
TCP/UDP listeners and streams take `A: std::net::ToSocketAddrs`. Some `ToSocketAddrs` impls will resolve domain names. However, `ToSocketAddrs` is not futures-aware, so DNS lookups are synchronous.

Possible solutions:
- Spawn a blocking task a la filesystem operations (simpler)
- Replace `ToSocketAddrs` with an async version (probably more efficient)

[2019-08-16 19:38] skade commented on #50
@ExoticMatter, this is actually an API oversight. Thanks for the notice!

An async `ToSocketAddr` is definitely on the way.

[2019-08-16 20:52] jedisct1 opened #54 "Compatibility with tokio?"
Hi,

And kudos for this very promising project.

I'm currently trying to replace all instances of `futures.rs` and `tokio` with `async-std`.

However, `hyper` requires streams that implement the `tokio::io::AsyncRead` and `AsyncWrite` traits.

Given a stream obtained from `async-std`, such as a `TcpStream`, how can I get something that implements `tokio`'s traits?

Thanks again for `async-std`!

[2019-08-16 22:44] passcod opened #60 "Expose IoHandle or some way to register mio Evented"
Currently this is hidden as an implementation detail of the network driver. Exposing would make it possible to hook up arbitrary Evented e.g. for other kernel event sources.

Perhaps this doesn't belong in async-std... in that case, maybe it could be extracted to another crate?

[2019-08-16 22:51] skade commented on #54
I'll take a look at it tomorrow, but on cursory glance, it's probably best to implement `tokio::io::AsyncRead/Write` outside of this lib as implementing them inside of it is not in scope.

FWIW, here's the trick to implement a foreign trait for a foreign type:

[code]

[2019-08-17 01:00] jedisct1 commented on #54
Probably not the best way to do it, but that did the trick:

[code]

[2019-08-17 03:50] zkat opened #65 "Make `blocking` public?"
Hi! I was using `async-std` in my [`cacache`](https://crates.io/crates/cacache) library. One of the things that I'm trying to do is implement `AsyncWrite` for it, but it turns out I'm using a tmpfile library that does sync i/o. Because of that, I pretty much copy-pasted the `AsyncWrite` impl for `async-std`'s `File`, and it turns out with the latest version, `task::blocking` is now private, so I c

[2019-08-17 06:13] DoumanAsh commented on #54
hyper still uses tokio's primitives so I'm not sure about getting rid of tokio, at least you'll need it's reactor

[2019-08-17 07:01] sdroege commented on #60
IMHO this would indeed be very useful to have as public API for being able to write other crates that integrate with the `async-std` reactor/executor without having to reinvent all that again (plus spawning their own threads for it).

With mio being the de-facto standard for an abstraction over `epoll` and friends, it would also seem like the ideal choice for that.

However I remember there being

[2019-08-17 07:05] sdroege commented on #54
And probably the whole tokio runtime as I'm sure hyper also makes use of its timer infrastructure for example.

I believe the correct way forward here would be for tokio (or more specifically tokio-io) to simply re-export the traits from the futures crate instead of defining their own. I don't think there's a reason left for a separate trait definition. But obviously that would have to be taken up

[2019-08-17 07:05] passcod commented on #60
Hm, yeah. I wonder if it could be hidden behind a feature, marked unstable,
so to speak. That might be a bit much

On Sat, 17 Aug 2019, 08:01 Sebastian Dröge, <notifications@github.com>
wrote:

[2019-08-17 07:10] sdroege commented on #18
In addition to the current variant? IMHO the current variant is useful on its own for non-IO futures too. You might have some more complicated user defined futures (which might or might not be around IO futures) that don't return a plain `io::Error` but some more complex error type (that might contain an `io::Error` variant somewhere though).

Removing the current variant would seem suboptimal to

[2019-08-17 07:13] DoumanAsh commented on #54
No, you only need reactor as it is used to interact with mio.
As `async-std` has own reactor, it makes them incompatible.

[2019-08-17 07:14] taiki-e commented on #54
See also https://github.com/tokio-rs/tokio/issues/1297

[2019-08-17 07:17] sdroege commented on #60
I believe that might be a valid way forward for the time being until mio or an alternative is 1.0-stable.

[2019-08-17 08:34] danclive opened #67 "Why does the version number jump from '0.1.0' to '0.99.x'? Is it misleading? Where does this confidence come from? This does not conform to the tradition of Rust！"
![aaaaa](https://user-images.githubusercontent.com/7814847/63208902-e78c2300-c10c-11e9-8f22-dfeeb9814445.png)

[2019-08-17 08:48] DCjanus commented on #50
I'd like to handle this, but I'm not sure what should I do.

In std code, it's resolve socket addr via OS API, for example: `gethostbyname` on Linux, which is blocking call.

I found two way for this issue:

1. Implement an async resolver by hand, might not do same work with OS API.
2. Wrap the blocking call with backend thread, pretend this is an asynchronous call.

[2019-08-17 08:52] sdroege commented on #50
This wouldn't be very different from how the filesystem API works right now, and some code can probably be shared with that thread infrastructure there. IMHO would make more sense for now and is simpler to implement (and more consistent: OS resolvers!), but maybe others disagree :)

[2019-08-17 09:12] DCjanus commented on #50
There is a solution, sounds good to me: provide wrapped version default, and provide a async host resolver in pure Rust.

[2019-08-17 09:16] danwilhelm commented on #67
This project (and Rust) follow semantic versioning. This often causes confusion, since many people believe that pre-1.0 indicates unstable software. However, in semantic versioning, pre-1.0 only indicates that the public API may change. (See points 4 and 5 here: https://semver.org/ -- particularly, "Version 1.0.0 defines the public API.")

@stjepang carefully notes that the library is very close t

[2019-08-17 10:56] Lonami opened #68 "Some typos and improvements for the book"
Collecting a few of them here before making a single commit with all fixes:

* In general, Title Case is not followed consistently for titles.

* [`std::future` and `futures-rs`](https://book.async.rs/overview/std-and-library-futures.html)

  There are two periods when there should be either one or three.
* [Stability and SemVer](https://book.async.rs/overview/stability-guarantees.html)

  Typo fo

[2019-08-17 13:17] freebroccolo commented on #6
I've started working on this one. Should have a PR soon.

[2019-08-17 13:46] #67 closed

[2019-08-17 14:44] 95th opened #70 "Provide test macro like `#[tokio::test]` or `#[runtime::test]`"
As as the title says, async_std should provide macro like  `#[async_std::test]` similar to `#[tokio::test]` or `#[runtime::test]` for writing tests.

[2019-08-17 16:00] imtsuki opened #72 "Any plan to port std::sync::mpsc or other channel types?"
Hi,

I'm trying replacing `tokio` with `async-std` in my own project and it's truly amazing. However there's no channel-equivalents like `std::sync::mpsc` in `async-std`, so I have to use the `futures` crate's version.

I think it would be very nice to have  `mpsc`, `oneshot`, etc. from `futures` crate re-exported in this crate's namespace for consistency and convenience. Any plan for that?

[2019-08-17 21:24] ExoticMatter commented on #50
@DCjanus `to_socket_addrs` should probably just return `Result<Self::Iter>` since `Iter: Stream`.

`Iter` should probably be renamed to `Stream` to clarify that it is asynchronous.

I don't think the associated type `Resolver` is needed. In `std`, the DNS resolution method is an implementation detail and some implementations such as for `SocketAddr` will never resolve domains at all.

[2019-08-17 21:32] skade commented on #72
There is a plan! We're not quite sure though if we will ship it in this library or in a co-library. The channels module in libstd is widely considered a mistake, especially because there's reasons to use different channel implementations for different use-cases even in the same codebase.

[2019-08-17 22:09] CarlosLanderas commented on #54
I am learning rust and I would like to know what would be the best way to perform async http requests using async-std if you are not coupled to Hyper/Tokio?

Maybe using reqwest in an async function?

[2019-08-17 22:15] skade commented on #54
I can recommend using https://github.com/rustasync/surf

[2019-08-17 22:16] CarlosLanderas commented on #54
Thanks @skade, I'm gonna try to use rustasync with async-std. I've seen you have very good samples in the repo and having a sample for http requests would be great as it is a very common scenario.

[2019-08-18 02:40] DCjanus commented on #50
Sorry for that, but I don't think `TryStream` correspond with `Result<Iterator`, for `TryStream`, each item could be `Err`, but for `Rustle<Iterator>`,  one `Err` or all `Ok`. May be the coud should be like this:

[code]

[2019-08-18 08:35] kellytk commented on #36
@skade Could https://github.com/Pauan/rust-signals be relevant to `async-std`?

[2019-08-18 09:09] skade commented on #54
I would currently recommend `surf` https://github.com/yoshuawuyts/surf with the C client.

[2019-08-18 09:32] CarlosLanderas opened #75 "Joining futures"
Hello, sorry for the ignorance, but I would like to know if this crate has available some
macro / mechanism to join futures so they can ran concurrently like futures crate has.

[code]

[2019-08-18 09:45] skade commented on #75
Hi, we recommend using the futures crate for that, currently.

For our current discussion on adding `join` and `select`, see https://github.com/async-rs/async-std/issues/14. Short summary: we're not sure of what currently exists is stable enough or if we can find our own useful design.

[2019-08-18 09:48] CarlosLanderas commented on #75
Thanks @skade, I'll follow the discussion.

[2019-08-18 09:48] #75 closed

[2019-08-18 09:50] skade commented on #75
You're welcome :).

[2019-08-18 10:14] skade commented on #36
@kellytk At a glance, it looks good! Certainly not within the lib, but it would be great to join forces and come up with something nice.

[2019-08-18 14:35] stjepang commented on #72
I've started implementing an async version of [`crossbeam-channel`](https://docs.rs/crossbeam-channel), which will be separate from `async-std`, but belong in this Github organization.

[2019-08-18 14:53] stjepang commented on #70
While the `test` macro is some sweet sugar, I find `task::block_on()` not much worse when it comes to ergonomics. Compare:

[code]

[code]

That said, I wouldn't be against adding a `#[async_std::test]` attribute similar to [`#[std::test]`](https://doc.rust-lang.org/nightly/core/macro.test.html).

[2019-08-18 14:54] skade opened #77 "Build link-checking for book"
Land https://github.com/async-rs/async-std/pull/61 and make sure it doesn't break netlify ;).

* Turn book building into a script
* Make sure link checking only triggers during testing
* On deploy environments, download the mdbook and linkcheck binary

[2019-08-18 15:00] stjepang commented on #60
I would suggest creating rolling your own `mio::Poll` instance and maybe driving it in a separate thread rather than attempting to hook into `async-std`.

We're hesitant about exposing mio's interface mainly because we might replace it with a different library in the not-too-distant future.

[2019-08-18 15:35] 95th commented on #70
Yes, the `block_on` is close, but macro feel more natural IMO. Also, `block_on` version has more boilerplate.

[2019-08-18 15:52] yoshuawuyts commented on #70
@95th compile times would likely spike significantly if we included such a macro. Perhaps it would make sense to create as a separate package (perhaps under the org) that's not necessarily part of the same top-level crate.

In my opinion the main benefit of such macros is when abstracting over different systems; in particular between different execution styles. This isn't quite in scope for the `a

[2019-08-18 15:52] passcod commented on #60
Yeah, that's what I wanted to avoid, because it's a lot of boilerplate and
not easy to get right and also kinda feels like defeating the point to have
N completely different drivers for each thing that plugs in. Not in scope
at the moment, that's okay

On Sun, 18 Aug 2019, 16:00 Stjepan Glavina, <notifications@github.com>
wrote:

[2019-08-18 16:15] yoshuawuyts commented on #60
Full agree with @stjepang here. Wanted to add that I'm also sympathetic to having the ability to hook into `async-std`'s io event loop, and it'd be interesting in findings ways to do so. But given the main benefit is mostly for performance, I agree it's not quite a priority at the moment.

[2019-08-18 19:12] sdroege commented on #60
I'd say the main benefit is that it reduces the amount of boilerplate and code duplication considerably, and thus the maintenance burden on other crates. But of course it increases it here by having some more API surface to care about.

For the time being, would you accept a PR that adds something behind some kind of unstable feature flag here as long as it's not very intrusive?

[2019-08-18 19:19] sdroege commented on #72
Just for future reference: some of the concerns and a possible way forward for the `std` channel are in @stjepang's blog post about that here: https://stjepang.github.io/2019/03/02/new-channels.html

[2019-08-18 19:34] sdroege commented on #65
It would also be quite useful for me to have the `task::blocking` module public. It could be re-implemented externally around a thread pool and oneshot channels of course, but doing that everywhere seems a bit suboptimal (performance- and code duplication-wise).

It's `pub(crate)` since the very first commit in this repo, so the rationale why it is not public anymore is lost from history unfortuna

[2019-08-18 19:36] sdroege commented on #65
Maybe (also in relation to https://github.com/async-rs/async-std/issues/60), it would make sense to at least give access to some internals and "uncertain-if-good-enough-for-1.0"-APIs via a feature flag.

That way there can be some experimentation with the API and it isn't required for everybody to duplicate the implementation.

[2019-08-18 19:55] sdroege opened #79 "More flexible reactor/executor API"
While this seems like something that shouldn't be considered for 1.0 IMHO, it would be good to start discussions about how an API could look like and what requirements different folks have here.

Also while this is kind of related to https://github.com/async-rs/async-std/issues/60, my main point here is about being able to have control over the lifetime of the reactor/executor, allowing to run mul

[2019-08-18 20:27] vertexclique commented on #79
Truly, I am into this. I've mentioned this implicitly here:

https://github.com/async-rs/async-std/issues/14#issuecomment-521589882

[2019-08-18 22:05] opensourcegeek commented on #54
How about HTTP server? Is there any implementation that uses async-std (may be even in pipeline currently)?

[2019-08-18 22:21] jedisct1 commented on #54
@opensourcegeek Try [Tide](https://docs.rs/tide)

I'm trying to build a proxy, that accepts and connects to Unix sockets and fixed IP addresses, so the `surf +`tide` combo doesn't seem to be an option. Back to `tokio` :(

[2019-08-19 05:00] kellytk commented on #36
@Pauan How do you think https://github.com/Pauan/rust-signals and `async-std` could best be used together?

[2019-08-19 11:58] stjepang commented on #79
This is a feature we should and will implement, but we'll need to explore the design space first. I think the biggest blocker right now is improving our scheduler. Once the scheduler matures, it should become more obvious how to start/stop runtimes manually instead of always relying on a single static one.

I really want to do something radically different from Tokio here. In particular, instead o

[2019-08-19 12:54] sdroege commented on #79
If you use the `Runtime` API in tokio then you get the whole bundle all together. There's API to run each of the components separately, but that's not really needed to expose IMHO.

What ideas do you have for the scheduler and how would that play into the design here?

Basically something like the API on the tokio `Runtime` type would be sufficient already, the tricky part is the passing of the ru

[2019-08-19 13:37] stjepang opened #82 "Verify documentation links on Travis"
Let's use [`cargo-deadlinks`](https://github.com/deadlinks/cargo-deadlinks) with the following command on Travis:

[code]

This currently fails with some errors which are due to re-exports from `std`:

[code]

The way we resolve these errors is by writing shim docs for re-exports from `std`, similarly to how we did that here:

https://github.com/async-rs/async-std/blob/addda3937fe62c892e28747dd5aa

[2019-08-19 16:07] LeshaInc opened #83 "Add BufWriter"
There is already a `BufReader`, so people would expect to have a `BufWriter` too. A lazy implementation is to simply wrap `BufWriter` from `futures-0.3`.

[2019-08-20 06:32] kespindler opened #85 "lines example in docs doesn't work"
In [https://docs.rs/async-std/0.99.3/async_std/io/trait.BufRead.html#examples-2](https://docs.rs/async-std/0.99.3/async_std/io/trait.BufRead.html#examples-2), this example is provided:

[code]

I used it in this full program:

[code]

However, running that counts 1 line for any file with >= 1 line that I run it on. In contrast, this full program works correctly:

[code]

[2019-08-20 08:13] skade commented on #85
Thanks for reporting :).

[2019-08-20 10:02] SuperFluffy opened #87 "Book: explain statically checked unreachable"
The current version of the Handling Disconnects section of the book states:

Please explain the significance of this statement. In how far is this a statically checked version of `unreachable!`?

This is the first time I am encountering this pattern and I am confused by the statement.

[2019-08-20 10:10] SuperFluffy opened #88 "Book: explain fuse and select"
The `select!` macro together with `FuturesExt::fuse`, `FusedStream` and `FusedFuture` is a pretty powerful mechanism which isn't all that easy to understand. The [current version of the doc](https://github.com/async-rs/async-std/blob/0156dc879bc67e313ef123978a8edfb24ae36fae/docs/src/tutorial/handling_disconnection.md) only mentions `select!` in passing and doesn't address `fuse` at all.

Linking t

[2019-08-20 11:26] Drevoed commented on #83
I am currently trying to implement this and encountered some issues, if I make a pull request will someone be able to guide me through?

[2019-08-20 11:39] skade commented on #83
Hi @Drevoed, yes, we're happy to mentor there. Please be aware that we're currently en route to RustConf, so we might take some time.

Also feel free to jump on the Discord.

[2019-08-20 13:11] SuperFluffy opened #89 "Book: unresolved import `futures::select`"
In the [current version](https://github.com/async-rs/async-std/blob/0156dc879bc67e313ef123978a8edfb24ae36fae/docs/src/tutorial/handling_disconnection.md) of the book, the final code of the Handling Disconnection tutorial doesn't work:

[code]

`futures-preview 0.3.0-alpha.17` actually defines two `select!` macros, `futures::future::select` and `futures::stream::select`, see [its `lib.rs`](https://

[2019-08-20 13:41] taiki-e commented on #89
I think it needs to enable the futures crate's [`async-await` feature](https://github.com/rust-lang-nursery/futures-rs#feature-async-await).

[code]

https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.18/futures/macro.select.html

[2019-08-20 15:16] kespindler commented on #85
Happy to! I'm curious if there's a `for` construct that does work in this situation.

[2019-08-20 15:20] matklad commented on #85
@kespindler not at the moment, async for is being designed: https://boats.gitlab.io/blog/post/for-await-i/

[2019-08-20 17:22] ChrisGreenaway opened #93 "Can't use async-std on beta channel"
When I add async-std as a dependency and try to compile with the beta channel I get:
[code]

[2019-08-20 21:11] Drevoed commented on #93
`#![feature]` may not be used on the beta release channel clearly says why you can't use ***nightly*** features using ***beta*** channel. Use nightly.

[2019-08-20 21:41] sdroege commented on #93
async/await is stabilized now, so this could be solved by removing the `#![feature]` line.

[2019-08-20 23:18] andrewtj commented on #50
Can you expand on that? Are you working on a wrapper for the various platform-specific APIs? (`getaddrinfo_a`, `DnsQueryEx`, `DNSServiceGetAddrInfo`, others?)

[2019-08-20 23:50] OddCoincidence commented on #22
I'd like to work on this if nobody else is already

[2019-08-21 00:26] yoshuawuyts commented on #93
This is starting tomorrow's nightly, and requires landing + releasing #94 first. Getting real close but not _quite_ there yet!

[2019-08-21 03:17] DCjanus commented on #50
@andrewtj For now, I've just implemented a simple wrapper for std::net::ToSocketAddrs, based on thread pool.

In the future, we could implement 'real async' via platform-specific APIs.

[2019-08-21 05:01] #85 closed

[2019-08-21 08:20] SuperFluffy commented on #89
Yupp, that fixes it. Thank you for pointing it out.

[2019-08-21 08:20] #89 closed

[2019-08-21 18:37] skade commented on #93
`async-std` can't be used on the beta channel until September 26th, when the next beta is cut, as all other `async/await` crates.

[2019-08-22 05:04] skade commented on #22
@OddCoincidence I know of no one currently working. Please keep in mind many of us are on RustConf this week, so mentoring might be a little delayed :).

Feel free to hop on our discord or open a draft PR here!

[2019-08-22 14:33] jlgerber opened #97 "Book: Tasks example out of date"
Here is the tasks example:
[code]
But it does not work. File does not have a read_to_string method seemingly.

Here is what I had to do to get it to work:
[code]

[2019-08-22 22:11] joshtriplett opened #99 "Book chapter 3.4 (sending messages): client_writer needs to use Arc"
`client_writer` uses `Arc` but doesn't `use` `Arc`.

[2019-08-22 22:35] joshtriplett opened #101 "Book chapter 3.5 (connecting readers and writers): broker needs to use HashMap"
`client_writer` uses `HashMap` but doesn't have a `use` for `HashMap`.

[2019-08-22 22:45] joshtriplett opened #102 "Book chapter 3.6: msg gets trimmed twice"
`msg` gets `.trim()` called on it once when first sliced, then again before the `.to_string()` call.

[2019-08-23 04:46] MajorBreakfast opened #103 "Book chapter 1.2 futures::future::Future description"
First, thanks a lot for this great library and it's accompanying documentation!

This description of `std::future::Future` form the book sounds not quite correct:

https://book.async.rs/overview/std-and-library-futures.html

Actually both traits are the same. It's just a reexport:

https://github.com/rust-lang-nursery/futures-rs/blob/cde791c00b8b9c4fd14a594855038a1bc4b6323e/futures-core/src/future

[2019-08-24 00:17] kachayev opened #106 "Book: naming convention for loop functions"
There are quite a few functions in the book that runs `while` loop inside as are supposed to be called instead `task::spawn`. E.g. `server`, `client`, `client_writer`. I think it makes sense to extend those name to explicitly set expectation on loop inside it, like `server_loop`, `client_loop`, `client_writer_loop`. Would be happy to provide PR if that sounds like a helpful change.

Another though

[2019-08-24 03:21] ufosky opened #107 "Does async-std support framed streams?"
I want a feature like tokio framed streams( https://tokio.rs/docs/going-deeper/frames/ ), does async-std support this?

[2019-08-25 20:53] ambiso opened #110 "Misleading future documentation?"
Hi,

the async-std documentation hints that there is a join futures combinator, but according to issue #14 this is still missing: [link](https://docs.rs/async-std/0.99.4/async_std/future/trait.Future.html#impl-Future-for-Join%3CFut1%2C%20Fut2%3E).

I recognize that this may be an issue of lower importance, and might not be trivial to fix. Feel free to close this issue if this won't be fixed.

Best

[2019-08-25 23:58] yoshuawuyts commented on #107
I wrote about how to author codecs using the base stream traits here: https://blog.yoshuawuyts.com/rust-streams/#writing-codecs -- this should work with `async-std` without a problem (:

[2019-08-26 20:39] matklad commented on #106
+1

I'd think for server a more specif `accept_look` might work better.

[2019-08-26 20:39] matklad commented on #106
@kachayev are you still willing to provide a pull request? ;)

[2019-08-26 21:25] #6 closed

[2019-08-26 22:57] skade opened #115 "Avoid building mdbook in CI"
Our CI times regressed heavily by building mdbook. We should move to downloading it instead: https://github.com/rust-lang-nursery/mdBook/releases

This would also make implementing things like #77 much easier.

[2019-08-26 23:04] #97 closed

[2019-08-26 23:04] #102 closed

[2019-08-27 12:58] jamesmunns commented on #115
I can do this, we do something similar in the embedded book CI.

[2019-08-27 17:30] #115 closed, assigned to jamesmunns

[2019-08-29 02:12] yaahc commented on #22
just pinging the issue to let ppl know that I'm interested in working on this.

[2019-08-29 07:25] stjepang commented on #22
@OddCoincidence Hi, sorry about the slow response! Did you perhaps make any progress?

@yaahc Let's see what's the current status first. If the issue is not taken yet, I can assign it to you.

As for the implementation plan, my suggestion is we kick off by building a minimum working module with:

1. Add `Command` struct with methods `new` and `spawn`.
2. Add `Child` struct with no fields and no me

[2019-08-29 11:12] vertexclique opened #126 "Blocking pool doesn't have backpressure on OSX"
Longhauling blocking requests are panicking the blocking thread pool because max threads is not 10_000 for OSX. It is 4096. Current method panics.

Solution: having a variable max threads based on errors coming up from thread pool during spawning dynamic threads.

[2019-08-29 15:29] DoumanAsh commented on #18
Just as example I prefer timeouts that allow me to restart and retrieve original future on failure:

`pub fn timed<F: Future>(job: F,  timeout: Duration) -> impl Future<Output = Result<F::Output, Expired<F, Timer>>>`
And without any extra error from timer itself 😄

[2019-08-29 20:41] johalun opened #127 "build.rs fails in dependencies for examples"
Hey!
Thanks for this awesome initiative :)

I can build and run separate binaries that links to async-std as extern crate (like the examples in the readme) but I can't run the examples from within async-std.

[code]

This is what I get
[code]

Any idea what this might depend on?

[2019-08-29 22:24] yoshuawuyts opened #128 "Implement Stream::size_hint"
Equal to https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.size_hint. Don't think this needs to be marked `async`. This would've been useful to calculate the right pre-alloc size for calling `collect` into a vec in #125. Thanks!

[2019-08-30 04:55] 95th commented on #70
@skade The pattern you described above is still looks better better with macro IMHO:

[code]

Agreed.

[2019-08-30 12:02] yoshuawuyts commented on #127
This seems like a problem building nghttp2, which is a dependency of libcurl, which is a dependency of (among other things) Surf. We recently had some linking issues there, and fixed them in 1.0.2 (moved from static builds to dynamic builds).

If you're using Surf (or Isahc) anywhere in your tree, perhaps try updating it?

[2019-08-30 13:34] yoshuawuyts opened #129 "[tracking issue] streams"
With #125 out, it's probably worth looking at which other parts of [`std::iter`](https://doc.rust-lang.org/std/iter/index.html) we can port to [`async_std::stream`](https://docs.rs/async-std/0.99.4/async_std/stream/index.html). This issue is intended to track what's left for us to port.

## Missing free functions
- [ ] `from_fn`
- [ ] `repeat_with`
- [ ] `successors`
- [ ] `once_with`

## Missing

[2019-08-30 13:41] johalun commented on #127
I think this is the issue https://github.com/rust-lang/libc/issues/1489
Closing this.

[2019-08-30 13:41] #127 closed

[2019-08-30 13:42] vertexclique commented on #129
I've documented some things out here:

https://paper.dropbox.com/doc/async-flow--AjJPPnPNL6eLfTQ3FT3Qew3zAQ-qCeBTk0Z0Nk92kn1ifNbQ

It was open for comments.

[2019-08-30 14:52] yoshuawuyts opened #131 "[tracking] io"
Similar to #129 for streams, this issue tracks what's left to port from [`std::io`](https://doc.rust-lang.org/std/io/index.html) to [`async_std::io`](https://docs.rs/async-std/0.99.4/async_std/io/index.html).

## Top-level exports
- `prelude`

## Free functions
- [x] `copy`
- [x] `empty`
- [x] `repeat`
- [x] `sink`
- [x] `stderr`
- [x] `stdin`
- [x] `stdout`

## Structs
- [x] `BufReader`
- [x] `Bu

[2019-08-30 15:35] stjepang commented on #18
@DoumanAsh If `fut` is a `Future`, then `&mut fut` is also a `Future`, so you can pass a `&mut fut` to the timeout function and continue using `fut` if timeout occurred.

Unless I'm missing something, there's not much reason to return the original future since one can use a mutable borrow of the future. Do you agree with that assessment?

[2019-08-30 15:47] DoumanAsh commented on #18
It is indeed true, that with `&mut F` you could get around it.
But it applies severe restriction on `F`, it must be `Unpin` always then, which is not true for `async fn` and it is not clear whether it will change (Boxing is work around, not a solution)

[2019-08-30 16:03] yaahc commented on #22
On it boss _salutes @stjepang_

[2019-08-30 16:39] sepiropht commented on #129
I would like to port map, filter and fold :). I like this function in std.

I'm never seriously  did any async with rust before. @vertexclique the link you posted is an example we should follow to implement all this functions ?

[2019-08-30 16:47] sepiropht commented on #129
I would like to port map, filter and fold :). I like this function in std.

I'm never seriously  did any async with rust before. @vertexclique the link you posted is an example we should follow to implement all this functions ?

[2019-08-30 17:13] shekohex commented on #129
I started with simple methods like `any` and `all` here at #132

@sepiropht you may take a look at my pr, and the `stream::take()` method too.
simply create your struct `Map` and implement `futures::Stream` for it, by `polling` the inner stream and apply the provided function for every item to the stream.

[2019-08-30 17:27] sepiropht commented on #129
Ok thanks @shekohex. I will try that

[2019-08-30 18:37] yoshuawuyts commented on #83
Ref #131 also (tracking issue for `async_std::io`)

[2019-08-30 21:15] vertexclique commented on #129
@sepiropht from my point of view better to concentrate on `FromStream` and `IntoIter` ones are important. Other than that, I suggest following the list of Yoshua for method impls.

[2019-08-31 13:55] taiki-e commented on #131
Note that this list contains unstable APIs.

[2019-08-31 14:00] taiki-e commented on #128
Could you explain the value of `size_hint` that cannot be implemented manually?

[2019-08-31 14:03] taiki-e commented on #129
Note that some features on this list are not useful until asynchronous closure is improved.

[2019-08-31 19:47] yoshuawuyts commented on #128
@taiki-e I feel its mostly API consistency? With iter size hint it's useful when pre-allocating structures. For example when using `collect` for vec it would've been useful to get an estimate of how much to allocate. Right now we start with an empty vector and allocate as we go, which is not nearly as efficient as it could be.

[2019-08-31 19:49] yoshuawuyts commented on #131
@taiki-e ah dang, you're right. Perhaps we should keep those out for now.

[2019-08-31 21:44] taiki-e commented on #128
The problem is that `size_hint` always returns the default value because `async_std::stream::Stream` cannot be implemented manually. So, currently, calling `size_hint` for optimization is a needless operation.

[2019-08-31 22:24] taiki-e commented on #128
IMO, we should wait for [the upstream to add size_hint](https://github.com/rust-lang-nursery/futures-rs/issues/170), instead of adding such a “useless API”.

[2019-09-01 07:58] yoshuawuyts commented on #128
@taiki-e ah yeah, fair point.

Though I don't disagree, I do see value in implementing all APIs sooner rather than later though. This way we can have the external API that folks can call, which can be incorporated in app logic — and later when we fix the impl nobody needs to rewrite their code.

Or well, that's the theory.

[2019-09-01 10:26] yoshuawuyts commented on #131
Gone and filtered out all the experimental APIs!

[2019-09-01 12:26] tomaka opened #137 "Add possibility to configure the way tasks are spawned"
The `async_std::task::Builder` and `async_std::task::spawn` methods assume that some kind of environment is present (ie. a background thread pool) where to spawn tasks.

https://github.com/async-rs/async-std/blob/532c73cf77a762e34e6fbafb9be9e7ff0bd66c78/src/task/pool.rs#L172-L192

Crates that provide some sort of hidden environment generally provide a way to configure how it works. Example of what

[2019-09-01 19:10] yoshuawuyts commented on #137
@tomaka on phone right now — but would perhaps an acceptable short-term solution to your issue be to allow `async-std` to work in the browser?

[2019-09-01 19:14] tomaka commented on #137
It's not urgent at all!
My browser experiments work by merging everything into a single future. I don't spawn anything in the background.

[2019-09-02 07:44] sdroege commented on #137
See also https://github.com/async-rs/async-std/issues/79, which is kind of related but broader.

[2019-09-03 06:58] stjepang commented on #18
Is that not true also for the case when the timeout function returns the original future back to the user? If `F` has self-references and gets polled by the timeout function, and is then returned back, returning moves the future and therefore invalidates self-references.

[2019-09-03 22:47] yoshuawuyts commented on #128
Yay, https://github.com/rust-lang-nursery/futures-rs/pull/1853 landed!

[2019-09-04 09:05] Nemo157 opened #142 "Provide futures::task::Spawn implementation"
To support executor agnostic libraries it would be useful to have a handle that can be passed to them if they require the ability to spawn new tasks.

[2019-09-04 09:13] Nemo157 opened #143 "Document behaviour of dropping JoinHandle"
It appears that dropping an `async_std::task::JoinHandle` will currently detach the task and allow it to keep running. Presumably this is intended behaviour in order to match `std::thread::JoinHandle`, it should probably be documented with a paragraph like that from `std`:

[2019-09-04 18:09] #50 closed

[2019-09-04 19:11] stjepang commented on #70
For us, the only benefit of the `#[test]` macro is sugar.

But I think `#[bench]` would have another additional benefit. The following is not the best way of benchmarking things:

[code]

The reason is that `block_on` currently spawns a task and then awaits it (which is costly!), rather than polling the future on the current thread. But I think we'll change the behavior of `block_on` so that it do

[2019-09-05 15:47] skade commented on #142
This would make us rely on futures types in the public interface, which we don't want to do. That's not only for the `Spawn` type, but also all Error types and `FutureObj`.

A spawner is also pretty simple to write and I'd prefer frameworks to ship their own if they want to. An example for the patters library would be useful, though.

[2019-09-05 16:24] Nemo157 commented on #142
`async-std` already exposes types from futures in the public interface, passing an `async_std::fs::File` to a function accepting `impl futures::io::AsyncRead` works. `Spawn` is currently defined in `futures-core` so it is positioned as even more stable than the IO traits (although there is an issue open about moving it out of there https://github.com/rust-lang-nursery/futures-rs/issues/1830).

A Z

[2019-09-05 16:27] skade commented on #142
@Nemo157 yes, but it explicitly rules out those types from its stability guarantees.

It's precisely the open issues that make it hard for us to currently commit on these. An `async-std-spawn` would be perfectly great in that line of thinking, even one published and maintained by this project itself, to be clear!

[2019-09-05 16:30] Nemo157 commented on #142
I should also say that there is also `tokio::executor::{Executor, TypedExecutor}` which are being used by some crates like `hyper` currently. So it probably makes a lot of sense to provide separate adaptor crates until there has been more experimentation and the ecosystem has stabilized a bit.

[2019-09-05 16:45] skade commented on #142
Yes. I want to generally write down a strategy/contribution document for such things soon (tm) to bring some clarity into this.

[2019-09-05 18:23] yshui opened #147 "socket closed after UnixStream::into_raw_fd()"
UnixStream holds a `IoHandle<mio_uds::UnixStream>` which is not correctly disposed of in `into_raw_fd`, resulting in the returned file descriptor being closed when `into_raw_fd` returns, making the function useless.

[2019-09-05 18:27] yshui commented on #147
I think the best way is to
`impl<T: IntoRawFd> IntoRawFd for IoHandle<T>` and use that, instead of keeping a copy of the RawFd.

[2019-09-06 12:34] taiki-e commented on #129
@yoshuawuyts
btw, the following items are unstable.
https://doc.rust-lang.org/nightly/core/iter/trait.Iterator.html#method.is_sorted

https://doc.rust-lang.org/nightly/core/iter/fn.once_with.html

[2019-09-06 13:37] yoshuawuyts commented on #129
@taiki-e thanks, I've updated the issue!

[2019-09-06 15:21] skade opened #153 "Give example for append behaviour in io::buf_read::read_until"
Followup of: https://github.com/async-rs/async-std/pull/152

[2019-09-06 16:16] yoshuawuyts opened #154 "Fix nightly rustfmt"
We should implement the patch done by @taiki-e in https://github.com/rustasync/runtime/pull/104 here too to fix our build failures. Thanks!

[2019-09-06 17:25] Atul9 commented on #154
@yoshuawuyts I would like to work on this.

[2019-09-06 17:26] yoshuawuyts commented on #154
@Atul9 yess, it's yours! — thanks for volunteering!

[2019-09-06 18:03] #154 closed

[2019-09-06 22:03] #153 closed

[2019-09-07 20:33] yoshuawuyts opened #158 "mdbook is failing to build"
Example https://travis-ci.com/async-rs/async-std/jobs/232070246; this has been happening to all recent PRs.

[2019-09-08 22:34] #147 closed

[2019-09-09 07:33] stjepang commented on #12
I think we can close this issue since it's been resolved even before the initial release.

[2019-09-09 07:33] #12 closed

[2019-09-09 07:33] #11 closed

[2019-09-09 08:04] stjepang opened #169 "Add examples/README.md"
It would be nice to have a readme explaining what each of the examples does and perhaps how to run them.

[2019-09-09 18:23] yoshuawuyts opened #170 "Replace futures-timer with a custom timer impl"
[`futures-timer`](https://github.com/rustasync/futures-timer/) is quite naive in its implementation, and we can probably do better. Something we may want to consider is building a hash-wheel timer impl to replace the existing timer.

[mozilla/neqo#127](https://github.com/mozilla/neqo/pull/127/files#diff-70ad500d4cb28767e4c01ebb6999b075) (`http/3` impl) has a relatively small implementation we may

[2019-09-10 10:54] #158 closed

[2019-09-10 12:13] yoshuawuyts opened #175 "[tracking] futures concurrency macros"
As per [my blog post](https://blog.yoshuawuyts.com/futures-concurrency/), I'd like us to try out futures concurrency macros. These should be introduced as "experimental" because they're mostly new, but I think this would make for a good starting point.

I propose these macros would live under `future::*` similar to `task::ready` in #133.

__update: these macros are now available as unstable since

[2019-09-10 14:50] stjepang commented on #22
@yaahc Hey, just wanted to check in and ask how it's going :) If you need help with this task or have any questions, let me know!

[2019-09-10 16:17] yaahc commented on #22
Hey @stjepang, I haven't been able to start yet because I've been swamped with procrastinating / slowly working on my talk for cogoldrust, ADHD problems >_>, I'm still interested in working on this but its an intimidatingly large task so I'm having trouble starting it. My hope is to start working on it after Thursday, which is when I'm giving the trial version of my talk @ the bay area rust meetup

[2019-09-11 16:05] stjepang opened #183 "[tracking] path"
The `std::path::Path` struct has some blocking methods like [`read_dir`](https://doc.rust-lang.org/nightly/std/path/struct.Path.html#method.read_dir) which should be asynchronous in our library.

That means we'll need to have our own `async_std::path::Path` that is convertible to/from `std::path::Path`. Moreover, since `PathBuf` derefs into `Path`, we'll also need an async version of `PathBuf`.

R

[2019-09-12 01:41] dwrensha opened #185 "deadlock on UnixStream pair with ends in separate threads"
In the following program, I expect the counter `ii` to grow without bound, as the two threads ping-pong a single byte back and forth:

[code]

When I run the program, I find that, contrary to my expectations, it deadlocks after about a second, with `ii` only climbing to a few thousand.

I'm using the latest nightly on Linux:
[code]
The deadlock also occurs on MacOS.

[2019-09-14 07:50] zmlzm opened #191 "Is there a http library/server build on async-std?"
Is there a http library/server build on async-std?
or Are you a plan for it?

[2019-09-14 18:46] DCjanus opened #193 "add `try_clone` for `TcpStream`"
Just like this: https://doc.rust-lang.org/std/net/struct.TcpStream.html#method.try_clone

[2019-09-14 21:46] stjepang commented on #193
I wonder: is there a situation where this method is more useful than using `Arc<TcpStream>` and cloning it?

[2019-09-14 21:57] #143 closed

[2019-09-16 13:56] yoshuawuyts commented on #193
@stjepang to my understanding `Arc<TcpStream>` will not send all data to all listeners -- e.g. if bytes are read from any one `TcpStream`, they will no longer be available from the other. Instead using a dedicated `try_clone` impl ensures that all clones receive _all_ data.

[2019-09-16 14:19] yoshuawuyts commented on #191
There's a few projects started:

- https://github.com/mgattozzi/hidouki
- https://github.com/dignifiedquire/h1/

And I also have something I've been trying out. But it's still early days for HTTP on top of `async-std` for sure.

[2019-09-16 14:48] stjepang commented on #193
Hmm, doesn't `try_clone()` create another reference to the same stream? I thought on Linux it's implemented as a call to `dup(fd)`, which probably just bumps a reference counter in the kernel (just like we'd clone the `Arc` here).

[2019-09-16 14:49] DCjanus commented on #193
For some reason, I replied after so long, sorry for that.

I'm a Chinese Xbox player, for some reason, I can't download those games quickly. And Xbox didn't supported socket5 or HTTP proxy, but you can set custom DNS address. I'm trying to hijacking DNS queries and pack all TCP data into my Socks5 proxy, with higher speed.

Which means, I should make those happen in my Rust programming: listen 443

[2019-09-16 15:00] stjepang commented on #193
Can you try this?

[code]

Note that `&TcpStream` implements `AsyncRead + AsyncWrite`, just like `TcpStream` does.

[2019-09-16 15:15] DCjanus commented on #193
It works! Thank you!

[code]

Shorter but more confusing:

[code]

[2019-09-16 15:50] #193 closed

[2019-09-17 09:57] yoshuawuyts opened #206 "Feedback from Vorner"
Vorner wrote [a really insightful post](https://vorner.github.io/2019/09/15/play-with-new-async.html) on trying out `async/await` with `async-std`, and talked about several things that didn't go well. This is a tracking issue to address all the feedback provided.

Also @vorner if you're reading along; thanks so much for the writeup! -- Posts like these are incredibly helpful, and allow us to learn

[2019-09-17 16:45] vorner commented on #206
Hello. It's nice you liked it.

Anyway, let me clarify a bit:
* I didn't complain about low rates on localhost. I set the rate at which I want it to run, I was merely pointing out that even if I set a low rate, the connections were timing out (or getting stuck). My point there was it probably isn't caused by overloading something (eg. packets getting lost).
* I don't know anything about TcpListene

[2019-09-17 23:48] yoshuawuyts commented on #54
It seems conversation has settled down here so I'm going to go ahead and close this. Thanks everyone!

[2019-09-17 23:48] #54 closed

[2019-09-17 23:49] yoshuawuyts commented on #48
It's been a while since this was opened; @jamesmunns is this something you can / would like to pick up?

[2019-09-17 23:51] yoshuawuyts commented on #18
The original issue has been resolved, and conversation has settled down. I'm going to go ahead and close this for now (:

[2019-09-17 23:51] #18 closed

[2019-09-17 23:52] yoshuawuyts commented on #9
Perhaps we should add a "patterns" section at the end of the book? @skade is this something you'd like to pick up?

[2019-09-17 23:55] yoshuawuyts commented on #23
We now have [async-macros](https://docs.rs/async-macros/1.0.0/async_macros/) which has `stream::join` that allows bypassing the problems `futures_preview::select` has.

The pattern is to define an enum of event kinds, and then map each individual stream to be a member of that enum. Then using async iteration + `match` the same semantics can be achieved as `futures_preview::select`.

Going to go ah

[2019-09-17 23:55] #23 closed

[2019-09-17 23:59] yoshuawuyts commented on #60
This is not something that's a priority in the short/medium term. Spawning a separate event event loop seems like a reasonable intermediate solution.

Going to go ahead and close this to remove it from our active backlog, but this is definitely something we may want to revisit in the future!

[2019-09-17 23:59] #60 closed

[2019-09-18 00:02] yoshuawuyts commented on #65
This has come up several times, and we need to come up with a public API for this. This seems something we'll want to do in the medium term for sure; though we *could* cheat it by introducing the current API as "unstable" first (which seems almost guaranteed like it would change).

@stjepang do you have any thoughts?

[2019-09-18 00:21] yoshuawuyts commented on #70
[async-attributes](https://github.com/async-rs/async-attributes) now exists, which adds support for all the features discussed in this issue (including @stjepang's correct bench code).

You can get it from [crates.io](https://crates.io/crates/async-attributes). Thanks all!

[2019-09-18 00:21] #70 closed

[2019-09-18 00:22] yoshuawuyts commented on #77
@skade can this be closed?

[2019-09-18 00:24] yoshuawuyts commented on #68
@Lonami hi! Thanks so much for opening this! -- I noticed you never got around to following this up with a PR. Are you still interested in doing so? Is there anything we can do to help?

Thanks heaps!

[2019-09-18 00:28] yoshuawuyts commented on #77
Ah, actually going to close this as a duplicate of https://github.com/async-rs/async-std/issues/82 -- even though it's filed later it seems to still be active.

[2019-09-18 00:28] #77 closed

[2019-09-18 00:47] yoshuawuyts commented on #126
This seems like it'll be resolved by https://github.com/async-rs/async-std/pull/181.

[2019-09-18 00:48] yoshuawuyts commented on #137
As this is mostly already covered by https://github.com/async-rs/async-std/issues/79, I'm going to go ahead and close this issue. We should continue to gather input on what folks want to configure and report it back in https://github.com/async-rs/async-std/issues/79.

Thanks all!

[2019-09-18 00:48] #137 closed

[2019-09-18 00:54] yoshuawuyts commented on #142
The code for this would probably be along the lines of:
[code]

I agree having a separate for this would be convenient. @Nemo157 is this something you would want to author?

[2019-09-18 00:58] #191 closed

[2019-09-18 01:02] yoshuawuyts commented on #128
We're now blocked on `futures-preview@0.3.0-alpha.19` landing to implement this.

[2019-09-18 01:31] mzji commented on #60
How about label this issue as `postponed`? It will be useful for reminding us to revisit these issues when we want.

[2019-09-18 01:46] kpp opened #210 "std::sync::Mutex in Stdin blocks an entire reactor"
Right now you use `std::sync::Mutex` in `Stdin` which can block an entire reactor.

See previous attempt with detailed explanation.

[2019-09-18 01:57] yoshuawuyts commented on #60
We don't have such a label yet, and out of experience it's not usually something that gets looked at. This is bound to keep coming up though, so I think we'll be fine.

Marked it as "api design" for now, as that feels the closest reason why we couldn't move forward with this (:

[2019-09-18 03:06] sunjay commented on #129
Do you need someone to add the remaining `FromStream` impls? I had a lot of fun doing #207 and would love to contribute more.

[2019-09-18 06:21] Lonami commented on #68
I did not intend making a PR myself. Rather, I wanted to document a few mistakes, and maybe other people found more. Once we felt they were enough to fix, then anyone could open said PR :)

[2019-09-18 07:23] stjepang commented on #129
@sunjay Go for it :) And thank you!!

[2019-09-18 08:41] Nemo157 commented on #142
Unfortunately I'm not using async-std enough in real projects to have the motivation to maintain a crate for that.

[2019-09-18 10:18] yoshuawuyts commented on #142
@nemo157 that makes sense; thanks for the quick reply!

[2019-09-18 11:41] stjepang opened #212 "Design of async channels"
It's time to port `crossbeam-channel` to futures.

Previous discussions:

- https://github.com/crossbeam-rs/crossbeam/issues/314
- https://github.com/crossbeam-rs/crossbeam-channel/issues/39
- https://github.com/crossbeam-rs/crossbeam-channel/issues/61

cc @matklad @BurntSushi @glaebhoerl

Instead of copying `crossbeam-channel`'s API directly, I'm thinking perhaps we should design async channels a

[2019-09-18 11:51] matklad commented on #212
Lgtm! What is the design for bridging sync/async worlds via channels? is this explicitly out of scope? Should the sync side just use block_on?

[2019-09-18 11:54] stjepang commented on #212
Yes. I guess in theory we could add `send_async()` and `recv_async()` methods to `crossbeam-channel`, but it's complicated and would require a lot of work... :(

[2019-09-18 11:56] yoshuawuyts commented on #212
enum Event {
    Message<T>,
    Shutdown,
}

let rx = rx.recv().map(|ev| Event::Message(ev));

[2019-09-18 12:01] matklad commented on #212
Bridging sync & async seems like a relatively important use-case though. I guess we can later add

[code]

I also like yosh's selectless approach to selection, because I think that putting large expressions into macros (what select encourages) is not super ergonomic, because those lazy IDE writers can't properly support code inside macros.

[2019-09-18 12:11] stjepang commented on #212
I'm just a bit sad that the `stream::join!` version is quite a bit longer than the `select!` version :(

The `Event` variants `Message` and `Shutdown` appear three times. I wonder if there's a trick we could pull of to simplify that?

[2019-09-18 12:19] yoshuawuyts commented on #212
@stjepang using `Either` or a tuple of options it's quite straight forward to build quick type casts. If we get async iterators the `join` line can be merged with the Iterator line, at which point they're about equivalent.

This version I showed off is mostly how one could define a version that's suitable for even a public API.

[2019-09-18 12:53] dignifiedquire commented on #212
the select macro is still a lot better in terms of distractions vs essence of what is trying to be accomplished, even if my ide doesn‘t format it well.

[2019-09-18 12:58] stjepang commented on #72
Closing in favor of #212

[2019-09-18 12:58] #72 closed

[2019-09-18 16:39] yoshuawuyts commented on #68
@Lonami ah yeah that makes sense -- I'll mark this as "help wanted" then so someone who wants to contribute can pick this up. Thanks heaps!

[2019-09-19 11:44] yoshuawuyts commented on #129
`IntoStream` impls for `std::collections` types (and comparable) aren't possible in `async-std` because our `Stream` impl builds on top of `futures-rs`'s stream impl. We discovered this in https://github.com/async-rs/async-std/pull/213.

Conversations about possibly adding a `IntoStream` type to `futures-core` are happening in https://github.com/rust-lang-nursery/futures-rs/issues/1879, though we

[2019-09-19 16:22] yoshuawuyts opened #217 "[tracking] sync"
This is a tracking issue for feature parity with [`std::sync`](https://doc.rust-lang.org/std/sync/index.html). Not everything needs to be ported, but this is a full overview of what's in `std::sync` and `async_std::sync`.

@stjepang could you take a look and cross off what's not needed? I think we have most of it except maybe `Barrier`, `Condvar`, and `Arc`. Thanks!

## Structs
- [ ] `sync::Arc`
-

[2019-09-19 16:44] stjepang opened #219 "Set up task::Tag in blocking tasks"
Blocking tasks should behave similarly to other tasks - in particular, they should be nameable, have an id, and task-locals.

[2019-09-19 16:46] yoshuawuyts opened #220 "[tracking] browser WASM support"
It'd be cool if `async-std` worked in the browser out of the box. Not everything can be supported, but we *can* support a smaller subset.

## Tasks
- [ ] no longer fail compilation under the `--target wasm32-unknown-unknown` target
- [ ] make `task::spawn` work (use [`wasm_bindgen_futures::spawn_local`](https://docs.rs/wasm-bindgen-futures/0.3.27/wasm_bindgen_futures/fn.spawn_local.html))
- [ ] ex

[2019-09-19 17:28] stjepang commented on #220
Should we introduce `async_std::os::wasm::task::spawn_local` that calls `wasm_bindgen_futures::spawn_local`?

Or should we perhaps have `async_std::task::spawn_local` that doesn't have the `Send` bound and works on *all* platforms? On wasm it would call `wasm_bindgen_futures::spawn_local` and on other platforms it could do something else.

What if *every* thread was technically a worker thread ont

[2019-09-19 17:54] tomaka commented on #220
For what it's worth (to save you some time), the `wasm-bindgen-futures` crate has a feature that lets you use `spawn_local` with stable futures (contrary to the function you linked, which uses futures 0.1): https://github.com/rustwasm/wasm-bindgen/blob/master/crates/futures/Cargo.toml#L28

Another challenge is also [that `futures_timer`](https://github.com/async-rs/async-std/blob/70769d8bac5e27ab9

[2019-09-19 18:03] stjepang commented on #220
Can we replace `futures-timer` with something else on wasm? Can we perhaps spawn a JS promise that completes after some number of seconds and then await that future?

[2019-09-19 18:15] tomaka commented on #220
Yes, that should be possible. Example (with old futures): https://github.com/tomaka/wasm-timer/blob/fd76bd42824fcee5232959df3f8a15cb58e33c46/src/wasm.rs#L209-L278

Yes. one can use [performance.now()](https://developer.mozilla.org/fr/docs/Web/API/Performance/now).
Example: https://github.com/tomaka/wasm-timer/blob/366b8003189487d1468dd1b65be8523fb4ae4245/src/wasm.rs#L57-L64

The problem is that it

[2019-09-19 22:03] alecmocatta commented on #212
Nice work! I really like this simplified API and I happen to have reached similar conclusions about bounded channels and infallible send operations.

I'm out of the loop on if `Sink` design has progressed, and whether channel capacity is intended to be bounded at `n` or `n + num_senders` (I last saw it discussed here https://github.com/rust-lang-nursery/futures-rs/issues/800 and here https://githu

[2019-09-20 08:06] tomaka commented on #220
I don't understand what you mean by that?

[2019-09-20 09:26] stjepang commented on #212
Instead returning a `Result<T, TryRecvError>` from `try_recv()` like this:

[code]

we could also take the approach from crossbeam-channel v0.2:

[code]

[2019-09-20 11:19] yoshuawuyts commented on #220
@tomaka feature flag it as:
[code]

as recommended by the wasm team. Not 100%, but better than just `target_arch` (:

[2019-09-20 11:27] yoshuawuyts commented on #212
@stjepang ohh, I like that first variant a lot!

@alecmocatta thanks for the detailed writeup. We've observed similar problems with the `Sink` trait also. Our current position is that since there's not really a counterpart to it in the stdlib, we don't necessarily want to go out and commit to one. But I think if we did, the design you've laid out there would be pretty close to what we want I think

[2019-09-20 11:32] vertexclique commented on #126
No, it is not solved yet:
[code]

[2019-09-20 11:33] tomaka commented on #220
So we would need three code paths:
- The regular one (Unix, Windows)
- The one with `wasm32` + `wasm-bindgen` that invokes JS functions.
- The one with only `wasm32` that returns an error/panics all the time?

[2019-09-20 12:52] yoshuawuyts commented on #220
@tomaka yeah that's about it for now. Eventually we may want to support WASI too, but async support doesn't exist yet. We should engage the team more closely on this though; it's been a while since we last talked about it in-depth.

[2019-09-20 13:24] yoshuawuyts commented on #126
@vertexclique do you have a repro perhaps?

[2019-09-20 13:46] vertexclique commented on #126
Yes, It was fixed in the EMA branch. I wrote tests for these cases too. Reopened the branch again so you can take a look to test called `longhauling_task_join`. Also wrote in the PR how it can be run:
https://github.com/async-rs/async-std/pull/108#issuecomment-526405791
branch is here: https://github.com/vertexclique/async-std/tree/ema-based-statistically-adaptive-thread-pool

[2019-09-21 13:16] BurntSushi commented on #212
I think the proposed API looks good to me! I appreciate the small API surface area.

[2019-09-21 18:56] jonathandturner opened #229 "Locking for stdin"
In sync std, you can lock stdin to ensure you maintain control of it.  Something like:

[code]

Currently, there isn't a way to do the equivalent in async-std.

cc @yoshuawuyts

[2019-09-21 23:58] k-nasa commented on #229
I want to try this implementation!
But I can't imagine what kind of implementation should be done (due to my lack of ability)
@yoshuawuyts  Could you show me a little way?

[2019-09-22 16:58] yoshuawuyts commented on #229
@k-nasa yay, thanks for volunteering!

So there are two important things to be aware of here:
- [the way `std::io::Stdin::lock` works](https://doc.rust-lang.org/std/io/struct.Stdin.html#method.lock)
- [the way `async_std::io::Stdin` is implemented](https://github.com/async-rs/async-std/blob/master/src/io/stdin.rs#L47)

[code]

We want to have an `async fn lock` on `Stdin` that returns a new struct

[2019-09-22 18:36] stjepang commented on #229
To add a little bit to that, since `std::io::Stdin::lock()` blocks, we would have to invoke that function inside `task::blocking()`.

Moreover, the returned `StdinLock<'_>` will hold a reference to the `Stdin` instance, so we should probably make sure that it's `'static` by putting it into `lazy_static!`:

[code]

A locking function might then look like this:

[code]

[2019-09-23 14:02] k-nasa commented on #229
@yoshuawuyts @stjepang Thx!! I try it.

[2019-09-23 19:54] montekki opened #235 "stream doc tests are now disabled"
Looks like they are no longer run since 73d7fea9 but they probably should be. At least in [CI](https://travis-ci.com/async-rs/async-std/jobs/237994862) they are gone.

[2019-09-23 23:39] yoshuawuyts commented on #235
Tagging in @stjepang

[2019-09-24 02:38] stjepang commented on #235
So the problem here is that if `#[cfg(feature = "docs")]`, then we're using the following signature:

[code]

Otherwise, the signature is:

[code]

We only have docs for the former but not the latter. The doc tests are not run because we're running tests with `docs` feature disabled, and we can't run them with the feature enabled because the code is broken in that case.

This is unfortunate and I'

[2019-09-24 07:15] siriux commented on #212
Are you planning to introduce optimized oneshot channels?

It's an important use case that crossbeam doesn't handle very well now.
https://github.com/crossbeam-rs/crossbeam/issues/199

As oneshot and normal channels have different use cases, maybe async-std could provide a separated api/type for optimized oneshot channels if it's not possible to make them as fast as mpsc with the current design. A

[2019-09-24 10:23] montekki commented on #235
What's handy about rust docs especially with the cases like stdlib is that you:
1) are always sure that that example works (unless it's marked as non-run)
2) can press a "run" button and jump into the playground and run/modify it yourself however you like
3) Probably something else I'm missing

I am not sure that can be achieved with copying to testfile or some similar non-mainstream way, can it?

[2019-09-24 10:28] BurntSushi commented on #212
Oneshot channels with the fastest possible performance seem like a pretty niche use case. Why not prototype them in a separate crate first?

[2019-09-24 12:04] yoshuawuyts opened #237 "Expose async-attributes macros behind feature flag"
For applications it's generally useful to have access to the attributes as defined in [`async-attributes`](https://docs.rs/async-attributes/1.0.0/async_attributes/). Being able to install a single dependency seems quite desirable.

## Implementation
I propose we expose these attributes from the root of the crate, relying on a feature flag. As for the flag name, there's a few options. But the one I

[2019-09-24 13:04] stjepang commented on #237
Should this also be behind the `unstable` feature flag? Or is the `bin` flag itself suppose to be unstable?

If the motivation for another feature flag is reducing compilation times, I wonder if we should just embrace `sync` and `quote` dependencies to simplify things...

[2019-09-24 13:08] yoshuawuyts commented on #237
@stjepang For me `"unstable"` means: "we want to eventually find a way to stabilize this, or remove it if we don't think it's useful. To me `"bin"` means: this is behind a feature flag forever because we're polyfilling the language.

It would certainly make things easier; in particular #225 could greatly be simplified. And our ideas around random delays / tracing would be furthered by it. So not s

[2019-09-24 13:09] yoshuawuyts commented on #237
Actually thinking more about it; I don't think people care about splitting lang polyfills out into separate features. If anything feature flags are kind of annoying. I think you're right, and this flag should only exist to guard pulling in the `syn + quote` dependencies.

[2019-09-24 20:11] #83 closed

[2019-09-24 20:18] #14 closed

[2019-09-26 11:29] yoshuawuyts commented on #212
As a note aside, another interesting kind of channel is MPMC broadcasters, where each message sent is delivered to *all* receivers (not just the first). The [`broadcast`](https://github.com/leo60228/broadcaster) crate provides an implementation for this that's used in #240.

[code]

This reminds me a lot of [Node.js's `EventEmitter` API](https://nodejs.org/api/events.html#events_class_eventemitter

[2019-09-26 12:39] dvc94ch commented on #65
Can you also expose the `net::driver::Watcher`? I'm currently trying to async signal handling to work properly. The `signal-hooks` crate implements `Evented`, so it would be useful to be able to wrap that in the `Watcher`. The other thing I'm trying to get to work is `flock`. Not sure what the best way to do that is. Either implementing `Evented` or just using `blocking`.

[2019-09-27 01:22] yoshuawuyts opened #244 "async combinators for Stream"
Our [stream combinators](https://docs.rs/async-std/0.99.7/async_std/stream/trait.Stream.html) operate on asynchronous data, but are themselves synchronous.

This means it's not possible to for example filter or map a stream based on other async operations. Which seems limiting, as it's possible to call sync functions from async functions but not the other way around.

I'd like to propose we update

[2019-09-27 03:04] stjepang commented on #244
How would this be represented in the type system currently? Can you write an example for the `map` combinator to illustrate? I believe this is blocked on traits `AsyncFn`, `AsyncFnOnce`, and `AsyncFnMut`.

Still, I believe combinators with async closures should be representable with the  `stream!` syntax. For example, the equivalent of `s.map(async |x| x.await)` could be written as:

[code]

[2019-09-27 03:56] #169 closed

[2019-09-27 10:39] yoshuawuyts commented on #244
Oh dang yeah; it being

So we currently don't have `map`, but [`futures::Stream::map`](https://docs.rs/futures-preview/0.3.0-alpha.19/futures/stream/trait.StreamExt.html#method.map) is defined as:
[code]

When used on a stream of number this is roughly as `stream.map(|i| i * 2);`. However this is problematic when say we want to call an `async fn` from within the `map`, e.g. `stream.map(async |i| d

[2019-09-27 11:02] taiki-e commented on #244
Many combinators of `futures_util::stream` other than Map use `FnMut(T) -> impl Future` closures.
https://docs.rs/futures-preview/0.3.0-alpha.19/futures/stream/trait.StreamExt.html#method.filter_map

[2019-09-27 11:39] stjepang commented on #244
@taiki-e Why do `filter` and `filter_map` use async closures but `map` doesn't? Was that intentional or is that just an oversight?

[2019-09-27 11:39] yoshuawuyts commented on #128
Sweet, this has landed! This means we can now rely on `size_hint` for optimizing allocations in `FromStream` impls!

cc/ @sunjay

[2019-09-27 11:48] #235 closed

[2019-09-27 13:57] yoshuawuyts opened #246 "Use GitHub Actions"
[actions-rs](https://github.com/actions-rs) by @svartalf has been looking fantastic, and I think we should consider using it instead of Travis.

For example today [actions-rs/clippy](https://github.com/actions-rs/clippy-check) was released, which places clippy checks inline in the PR review:

![screenshot](https://user-images.githubusercontent.com/2467194/65774660-ff5cbb00-e13e-11e9-8c1d-13a819039

[2019-09-27 13:58] taiki-e commented on #244
@stjepang Maybe it ’s an oversight. I will file an issue.

[2019-09-27 14:01] montekki commented on #244
@yoshuawuyts assign this to me please

[2019-09-27 14:02] taiki-e commented on #246
Related: https://github.com/bors-ng/bors-ng/issues/730 (Doesn't seem to be officially supported)

[2019-09-27 14:08] yoshuawuyts commented on #246
Example of the clippy checks in action: https://github.com/actions-rs/example/pull/2/files.

[2019-09-27 15:15] dignifiedquire opened #247 "[tracking] fmt"
When trying to implement `io::Write::write_fmt`, I ran into the issue that the implementation requires the use of a second `Write` trait, the one in `fmt`.

If we want to properly implement this, I believe an async version of that is required as well, which in turn triggers usages like implementing the `write!` macro in an async form.

Ref: #245 #131

Usage: https://github.com/rust-lang/rust/blob/

[2019-09-27 16:19] montekki commented on #244
@taiki-e is this by design that `next()` is not usable with those combinators? So this will not work:

[code]

since `next()` is bound by `Unpin`.

[2019-09-27 16:20] yoshuawuyts commented on #247
@dignifiedquire as we've talked about in chat, I agree with the reasoning here and we should indeed create a new `fmt` submodule.

I'll update your initial comment to include a list of things to port, and label this as a tracking issue.

[2019-09-27 16:25] taiki-e commented on #244
@montekki
You need to use `pin_utils::pin_mut` (or `Box::pin`)
[code]

[2019-09-27 16:32] taiki-e commented on #244
`next` takes `&mut self` for ergonomics. If this is `Pin<&mut Self>`, you need to call `.as_mut()` every time.

[2019-09-27 16:35] k-nasa commented on #246
Isn't it possible to use it with such a change?
https://github.com/samueldple/date_time/pull/45/files#diff-2f8c9db9253b64f9a332c09f492cd54e

[2019-09-27 16:37] yoshuawuyts commented on #246
@k-nasa oh yeah, probably! -- is this something you'd like to try spinning up for our repo?

[2019-09-27 16:41] dvc94ch opened #248 "unix sockets don't work since the 0.99.6 release"
Expected behaviour:
[code]
Actual behaviour:
[code]
`server.rs`
[code]
`client.rs`
[code]

[2019-09-27 16:47] k-nasa commented on #246
I'll try it! Can you assigne me?

[2019-09-27 17:23] weiby3 opened #249 "0.99.7 cannot built on centos."
hello world project from readme, use `cargo +beta run`, and got:
[code]
rustc version: `rustc 1.39.0-beta.1 (968967007 2019-09-24)`
os: `centos 7`

[2019-09-27 18:58] dignifiedquire commented on #65
:+1: on exposing `net::driver::Watcher`, implementing #22 using similar techniques as tokio-process uses, requires to use signal-hooks or sth similar, so this is somewhat blocked on this, unless the signal handling is pulled into here (bad idea imho though)

[2019-09-27 19:47] freebroccolo commented on #246
[Here](https://github.com/freebroccolo/interfaces/blob/master/.github/workflows/main.yml) is an example of a configuration I'm using that might be useful.

The tarpaulin step takes the longest but there is a [PR](https://github.com/actions-rs/tarpaulin) at [actions-rs/tarpaulin](https://github.com/actions-rs/tarpaulin) that downloads the binary instead of building it and uses the tools cache. Shou

[2019-09-27 23:43] yoshuawuyts commented on #249
We've discussed this in chat, and we'll be putting out a `0.99.8` release ahead of schedule to address this. Thanks for reporting!

[2019-09-27 23:51] yoshuawuyts commented on #65
I've filed #251 for the blocking function. We'll need to come up with something else to expose driver though (got some ideas; but got to test them out first.)

Hope this helps!

[2019-09-28 12:42] edwardw commented on #249
Run into the same issue myself. Before the release of `0.99.8`, a temporary workaround is to pin futures crate versions oneself if possible by adding:

[code]

to project's dependencies.

[2019-09-28 13:53] yoshuawuyts commented on #229
ref #131

[2019-09-28 15:03] skade commented on #249
I published 0.99.8 with the fix mentioned above. Thanks for the report!

[2019-09-28 15:03] #249 closed

[2019-09-29 03:33] zvkemp commented on #248
Git bisect points to d25dae54191c8a922410cd2e3ca39e631d28982b

[2019-09-29 04:08] mineralres opened #261 "How to read and write of TcpStream simultaneously in 2 task?"
is there any examples?  like split in tokio:
`fn split(self) -> (ReadHalf<Self>, WriteHalf<Self>)
  where Self: AsyncWrite { ... }`
then i can read or write in two future simultaneously.

[2019-09-29 08:40] skade commented on #237
I'm not convinced of exposing these features through the async-std library. I don't quite see the argument for just deploying one single library with multiple features. While it's desirable to ship e.g. an official test macro, it also leads to the jarring situation where alternative test frameworks need to deactivate such a feature.

[2019-09-29 11:25] yoshuawuyts commented on #237
Can you share more about this? This is the first time I'm hearing of it.

[2019-09-29 11:29] yoshuawuyts commented on #261
@mineralres Good question! -- we've written about this in [our book](https://book.async.rs/patterns/small-patterns.html#splitting-streams):

[code]

Hope this helps!

[2019-09-29 11:29] #261 closed

[2019-09-29 18:55] montekki commented on #244
It looks like currently there is no way to make this work for combinators like `filter` that involve a predicate taking parameters by ref, is there?

[2019-09-29 20:08] taiki-e commented on #244
Yeah, currently, it needs to use `future::ready` or async function. (Those problems will be fixed if async closure is improved.)

(As it was updated to use async-await in https://github.com/rust-lang-nursery/futures-rs/pull/1843, futures's [StreamExt](https://docs.rs/futures-preview/0.3.0-alpha.19/futures/stream/trait.StreamExt.html) documentation should be somewhat useful. (And I think those impl

[2019-09-30 09:55] montekki commented on #244
It looks like in any case taking by ref won't work, not only for async closures:

[code]

[2019-09-30 12:42] #246 closed

[2019-09-30 17:55] vhakulinen commented on #22
Has there been any progress with this?

(I'm trying to evaluate current async support for `std::process::Command` for implementing [neovim-lib](https://github.com/daa84/neovim-lib) in async fashion with subprocessing)

[2019-09-30 18:06] yaahc commented on #22
I haven't done anything yet. Last I heard @stjepang was planning to lay the groundwork and split it up into pieces of work that need to be done, so I've been watching for that to happen before engaging.

[2019-09-30 19:13] svartalf commented on #246
It is a closed issue, but I would like to add a late comment: as soon as Github will add proper caching for Actions (AFAIK, mid-November), we try to add caching for installed binaries too; so the first one `cargo install` will be slow as usual, but the next installations of the same version will use the pre-compiled binary from cache. That would reduce time for all builds, which are installing som

[2019-09-30 20:24] sunjay commented on #129
Small update on this: I started to work on it on the weekend and noticed that I need a few more things to be implemented before finishing it off. In particular, it looks like a lot of the `FromStream` implementations use the `Extend` trait. That exists, so I started to work on adding it for a few cases where I needed it (e.g. for `String` and other collections).

I could also use a few more combin

[2019-10-01 00:17] sunjay commented on #129
I opened #265 for the impls that should be easy to merge. I also opened #266 to discuss the changes to the `Extend` trait that I found were necessary for some of my impls. Once these two changes land and we get #264 (thanks @montekki!) I should be able to continue with `FromStream`. :smile:

[2019-10-01 09:46] taiki-e commented on #244
Yeah, current async closures are equivalent to closures which return async blocks.

[2019-10-02 03:09] sunjay commented on #129
Still working on this. #266 is ready for review.

By the way, looks like pretty much every single `FromIterator` implementation in the standard library uses the `Extend` trait, so I guess I'm adding that too! Woo code reuse! :smile:

(Also, the standard library is really inconsistent with its use of `size_hint` to optimize allocations in case anyone is looking for an easy PR to `std`.)

[2019-10-02 03:35] sunjay commented on #129
The next three methods that would be really nice to have are: `size_hint`, `cloned`, and `copied`. :smile:

[2019-10-02 08:50] mvucenovic commented on #248
Hey @stjepang, @yoshuawuyts I hope you don't mind me taking a stab at this.

I've debugged this issue (thanks @dvc94ch for the code that reproduces it), and I think I've found the cause of the bug, but my solution for it is short and hacky, so I need some guidance from you guys. I'll send a PR so you can take a look.

Also, I would like to add a bigger integration test that would cover this issue

[2019-10-02 09:08] stjepang commented on #247
I don't think we need an async version of `std::fmt::Write` because that trait is only implemented on `String` and `Formatter`, which are not async data structures.

The only part of `fmt` that could be asyncified, I think, is the `std::fmt::write` function. But it's not used that often in practice and we could just provide an async version of the `write!` macro instead.

[2019-10-02 12:23] k-nasa commented on #229
Apparently, StdinLock does not implement the Send trait. So it doesn't seem to work with blocking :: spawn.

[code]

[code]

What problems can be considered when locking is returned without blocking?
in this way.
[code]

[2019-10-03 01:41] sunjay commented on #129
And we're done! :tada:

You should merge #266 before you merge #271. All the impls for `FromStream` can be checked off once those are merged. :tada:

[2019-10-03 11:50] kellytk commented on #220
[Related Tokio issue](https://github.com/tokio-rs/tokio/issues/1597#issuecomment-537603077).

[2019-10-04 13:12] k-nasa commented on #229
ping @stjepang @yoshuawuyts
sorry

[2019-10-04 21:23] MOZGIII opened #274 "0.99.7 crates.io upload is not consistent with the repo state"
I'm having an error that seems to be fixed at `0.99.7` tag. Can you please audit the crates.io package state? I'd recommend yanking it if the inconsistency is confirmed.

[2019-10-04 21:26] MOZGIII commented on #274
The issue is with `0.99.7` version.

[2019-10-05 11:12] AZanellato commented on #68
Hello! Can I pick this up then? :smile:

[2019-10-05 13:51] skade commented on #68
Sure! Looking forward to the patches 🙂.
________________________________
From: André Zanellato <notifications@github.com>
Sent: Saturday, October 5, 2019 1:12 PM
To: async-rs/async-std <async-std@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [async-rs/async-std] Some typos and improvements for the book (#68)

Hello! Can I pick this up then? 😄

—
You are receiving

[2019-10-05 15:13] yoshuawuyts opened #275 "Reduce dependency on futures_timer"
In preparation for #170, we should reduce the API surface of any new dependency and make it easier to swap between implementations.

To that extent it's probably best if we only rely on [`futures_timer::Delay`](https://docs.rs/futures-timer/0.4.0/futures_timer/struct.Delay.html), and remove our dependency on other parts of the `futures-timer` crate.

Once that's done we can vastly reduce the API s

[2019-10-05 15:15] shaikh-raj commented on #275
Can I pick this one?

[2019-10-05 15:19] yoshuawuyts commented on #275
@shaikh-raj for sure! Thanks for volunteering!

[2019-10-05 15:26] sunjay commented on #129
Woohoo! All of `FromStream` can be checked off now. 🎉🎉🎉

[2019-10-05 15:41] yoshuawuyts commented on #129
@sunjay I was thinking of what we could do next for `FromStream`; and perhaps we could polish our  module-level documentation? [`std::iter::FromIterator`](https://doc.rust-lang.org/std/iter/trait.FromIterator.html) seems like it could probably be ported for the most part!

Is that something that you might be interested in doing?

[2019-10-05 15:44] sunjay commented on #129
That sounds great! I don't know when I'll next have time to work on this, so someone else is welcome to take my place and help out. 😊

[2019-10-05 15:45] yoshuawuyts commented on #129
@sunjay I'll file an issue for this then so someone can pick this up! :blush:

[2019-10-05 15:54] yoshuawuyts opened #276 "FromStream module-level documentation"
Now that #271 has been merged we have all of our `FromStream` implementations! The final touch for this is to add module-level documentation to `async_std::stream::FromStream` so we can teach people about how `FromStream`, `IntoStream` and `collect` work together.

In practice this means porting the [`std::iter::FromIterator`](https://doc.rust-lang.org/std/iter/trait.FromIterator.html) docs, and r

[2019-10-05 17:22] yoshuawuyts commented on #274
We merged the release prep in #239, and cut the release the same date in https://github.com/async-rs/async-std/releases/tag/v0.99.7. The release tag points to the merge commit of the PR.

I'm not sure how to review whether the release on crates.io matches the release tag. Could you perhaps share more details on how we can check this?

[2019-10-05 17:29] MOZGIII commented on #274
I created this repo: https://github.com/MOZGIII/async-std-issue-274
It captures the core problem. `cargo +nightly test` fails with the following:
[code]

[2019-10-05 17:32] yoshuawuyts commented on #274
Ah yes, this problem was fixed in `0.99.8`! -- We published this a few days after `0.99.7` specifically to address this problem. This is happening because `futures-preview` updated to change the `initializer` argument, so we pinned it to `alpha.18`.

The next release will upgrade `futures-preview` version to `alpha.19` so we can build on beta as well.

[2019-10-05 17:33] MOZGIII commented on #274
In the repo there's a fix for this exact issue: https://github.com/async-rs/async-std/blob/6fe958f745741ae887ac1dd27e9e66e4986e3388/src/io/read/read_to_end.rs#L67

On the other hand, it's in `master`, but not at `v0.99.7` tag. This is confusing, cause I believe `cargo` had to build the code before release is uploaded, and I wonder how that worked.

So, nvm.

[2019-10-05 17:33] #274 closed

[2019-10-05 17:34] MOZGIII commented on #274
I'm looking forward to the release with support for `0.3.0-alpha.19`.

[2019-10-05 17:36] yoshuawuyts commented on #274
@MOZGIII Same! There should be one going out next week!

[2019-10-06 00:49] ansrivas commented on #7
Hi @skade I recently started using async-std and stumbled upon this issue.
Quickly brought this together, do you think this will be sufficient for this issue?
In case its fine, should I transfer it to `async-rs` org ?

https://github.com/ansrivas/async-std-starter

[2019-10-06 11:24] taiki-e commented on #246
@yoshuawuyts
FWIW, I have confirmed that GitHub Actions can integrate correctly with Bors.
https://github.com/taiki-e/pin-project/pull/117/files#diff-3515bd2b4297af2de6456cf6df7c9f4cR1-R10

[2019-10-06 11:55] yoshuawuyts commented on #246
@taiki-e oh that's awesome; thanks so much for sharing that!

[2019-10-06 13:17] sunjay commented on #183
Though it's not super related to the issue description, I highly suggest that as part of this you add the `FromStream` impl for `PathBuf`.

Here's the `FromIterator` impl:

[code]

[2019-10-06 13:35] yoshuawuyts commented on #183
@sunjay that's an excellent suggestion; thanks so much!

[2019-10-06 14:34] yoshuawuyts commented on #247
Just checked the signatures and I think I'm mostly agreeing here tbh. The macro seems relatively straight forward too: https://doc.rust-lang.org/src/core/macros.rs.html#388-390.

Okay yeah I'm on board with not implementing `async_std::fmt`, and relying on `std::fmt::Write` instead. As for the specific implementation here: I think we should probably write some custom code for the implementation as

[2019-10-06 14:38] k-nasa commented on #276
The issue should close?

[2019-10-06 14:43] #276 closed

[2019-10-07 04:57] stjepang commented on #220
Related project: https://github.com/richardanaya/asynctimer

[2019-10-07 14:49] #248 closed

[2019-10-08 07:46] 0b01 opened #288 "Enable byteorder crate?"
Maybe implement byteorder's trait extensions on async-std's Write and Read. Or even make an async-byteorder. Thanks for the great crate!

[2019-10-08 11:10] yoshuawuyts commented on #288
@0b01 thanks for the suggestion; we're glad you're enjoying `async-std`! We currently have no plans to add byteorder extensions to `async-std`, but if you think that's something that's needed we encourage you to try doing it!

Alternatively you could consider opening an issue on `byteorder` to request extensions for [`futures_io_preview::{AsyncRead, AsyncWrite}`](https://docs.rs/futures-io-preview

[2019-10-08 11:10] #288 closed

[2019-10-08 11:12] yoshuawuyts commented on #275
@shaikh-raj wanted to briefly check in with how are things going :sparkles: -- no rush at all, but want to make sure you're not stuck either!

[2019-10-08 11:52] yoshuawuyts opened #289 "[discussion] task::block_on -> thread::block_on?"
Okay so this might be a terrible idea, and I'm not convinced myself -- but I think it's still worth bringing up because there might be value to it.

In https://github.com/async-rs/async-std/pull/251 we're going to add `task::blocking`, but the name is kind of similar to `task::block_on`. The difference between the two is that one takes a closure that will block a thread, while the other one blocks

[2019-10-08 12:08] yoshuawuyts opened #290 "[discussion] Add task::yield_now()?"
## Motivation

Sometimes it can be useful to break up longer execution into smaller parts. As a general rule `task::blocking` fills that role for us (#251). But std has another method for smoothing out load within threads: [`thread::yield_now`](https://doc.rust-lang.org/std/thread/fn.yield_now.html). This function hints to the OS-scheduler that it's ready to yield for a while so other work can res

[2019-10-08 12:51] tomaka opened #291 "Add support for Windows named pipes"
Since Unix domain sockets are available in async-std, I think it is also in scope to add support for Windows named pipes.

There already exists a crate on top on mio (just like `mio-uds`) that we should be able to use: https://docs.rs/mio-named-pipes/0.1.6/x86_64-pc-windows-msvc/mio_named_pipes/

[2019-10-08 15:18] #128 closed

[2019-10-09 10:32] #65 closed

[2019-10-09 10:32] #219 closed

[2019-10-09 10:53] dvc94ch opened #293 "Expose net::driver::Watcher mechanism"
Crates implementing `Evented` should be able to register a reactor.

Follow up from discussion #65

[2019-10-09 11:09] yoshuawuyts commented on #293
This API still requires some work, but just to set expectations: it's unlikely we'll expose `mio::Evented` in the API bounds. Instead we're more likely to use `AsRawFd` for Unix and `AsRawSocket` for Windows for compat with std.

On top of that we should also provide a way to access the `epoll / kqueue / iocp` instance directly so people can perform syscalls on it outside of the `read_with` / `wri

[2019-10-09 22:34] yoshuawuyts commented on #289
Okay, riffing on this a bit more. Now that #299 is a thing, things have changed even more as `spawn_blocking` takes a regular closure rather than an async block now:

[code]

So there seems to be somewhat of a parallel here now with `thread`. I think we could do something similar there:
[code]

This creates a nice parallel I think, and nicely bridges between the two concepts. We could perhaps even

[2019-10-10 00:14] yoshuawuyts commented on #289
Okay, tried to implement this and `thread::spawn_task` can't and shouldn't return a `JoinHandle`.

That kind of begs the question whether it still makes sense the way it's done (or whether it should have a different kind of join handle), but in general I still kind of like the direction we're proposing, even without the `JoinHandle` being returned.

[2019-10-10 06:35] 0b01 opened #302 "How to catch system signals"
Is there something similar to [tokio::net](https://docs.rs/tokio-net/0.2.0-alpha.6/tokio_net/signal/unix/struct.Signal.html)?

[2019-10-10 13:55] ansrivas opened #303 "async-std recommended pattern for iterating over future handles"
Hi,
based on the [surf-web-example](https://github.com/async-rs/async-std/blob/master/examples/surf-web.rs) I was trying to send out multiple http-requests something like this example below.

Does async-std recommend a pattern like this?
[code]

[2019-10-10 13:59] yoshuawuyts commented on #302
Not yet! -- we're aiming for parity with the standard library, so this would be an API we may not want to expose directly from `async-std`. But I agree we should definitely have a good way of handling signals that's compatible with `async-std`.

Probably a good way to start would to be to look at [`signal-hook`](https://docs.rs/signal-hook/0.1.10/signal_hook/) and see if we can integrate it with `

[2019-10-10 14:25] yoshuawuyts commented on #303
Ah yeah, so you're hitting a case right here which we haven't solved elegantly yet. We have some ideas that we're currently implementing, but it's still WIP. Basically what you're doing is "fan-out" and then "collect".

But even if not elegant, this is already possibly by using [`sync::Barrier`](https://docs.rs/async-std/0.99.9/async_std/sync/struct.Barrier.html) where you spawn multiple tasks, an

[2019-10-10 15:09] ansrivas commented on #303
@yoshuawuyts thank you for your response.
Indeed I was trying to do something similar to fan-out and collect the results.

I believe I missed the documentation of Barrier because its behind `unstable` feature-flag. And wow it just worked :)

[2019-10-11 03:24] tmccombs commented on #217
I could take a look at `Condvar` and maybe `Once`

[2019-10-11 03:57] 0b01 commented on #302
#293

[2019-10-11 12:17] yoshuawuyts opened #307 "Add UdpSocket::PeerAddr"
This was just stabilized in std; we should consider adding it too.

https://github.com/rust-lang/rust/pull/64728

[2019-10-11 12:26] pandaman64 commented on #183
I'm interested in implementing this feature. It's basically invoking `blocking::spawn` on filesystem operations, right?

[2019-10-11 13:26] yoshuawuyts commented on #183
@pandaman64 yes, that's exactly it! Additionally some methods such as `Path::canonicalize` can be forwarded to existing implementations such as `fs::canonicalize`. All in all this should be relatively straight forward!

[2019-10-11 21:51] ansrivas commented on #307
@yoshuawuyts I quickly looked in the source code, please correct me if I am wrong, this is going to be currently blocked by mio's new release with `peer_addr` implementation right?

[2019-10-12 00:01] yoshuawuyts commented on #307
@ansrivas yeah I guess you're right.

[2019-10-13 00:04] yoshuawuyts opened #313 "BufWriter::into_inner doesn't flush"
`BufWriter::IntoInner` returns the inner type directly. But in std it flushes before returning, returning an `IntoInnerError` if it doesn't work. The same behavior applies for the (still unimplemented) `LineWriter` struct.

We should ensure it flushes, and convert the function to an `async fn` using `ret!`.

There's prior art on how to create async fns like this in async_std + the stdlib is a good

[2019-10-13 09:43] Wassasin commented on #110
Now that #14 is closed, this issue can be closed as well.

[2019-10-13 09:52] dvc94ch opened #318 "recv_from should take a socket addr"
`recv_from` should take a `SocketAddr` to differentiate it from `recv`.

[2019-10-13 10:06] dvc94ch commented on #318
Seems invalid

[2019-10-13 10:06] #318 closed

[2019-10-13 11:37] #110 closed

[2019-10-13 11:38] #313 closed

[2019-10-13 11:39] #247 closed

[2019-10-13 17:06] dvc94ch commented on #293
I think this is really important. Just got blocked trying to set the ecn bits on a udp datagram. Most async system programs need this in some form.

[2019-10-13 23:25] yoshuawuyts commented on #142
It doesn't seem anyone is particularly eager to implement this anytime soon. Also the `Spawn` trait might be removed from `futures-core` in the near future. I think it's okay to go ahead and close this for now.

[2019-10-13 23:25] #142 closed

[2019-10-14 01:22] yoshuawuyts commented on #229
@k-nasa I've been thinking about this and don't really have any good suggestions; sorry. This almost feels like something that should be solved in stdlib to ensure the internal lock is always acquired even through multiple interfaces.

In lieu of that I think perhaps doing a blocking call directly inside the async block is fine for now. It's not ideal, but it provides the right interface.

We alre

[2019-10-14 11:58] #290 closed

[2019-10-14 12:17] stjepang commented on #229
I believe it should be just fine to use unsafe code to send `StdinLock` to another thread.

[2019-10-14 18:49] yoshuawuyts opened #329 "write_fmt fails inside spawned task"
It turns out that [`Arguments`](https://doc.rust-lang.org/std/fmt/struct.Arguments.html#impl-Send) is non-`Send`, which means passing it to a spawned Future may not work because the future itself is `Send`.

[code]
![2019-10-14-185507_1920x1080](https://user-images.githubusercontent.com/2467194/66768900-ff391b00-eeb3-11e9-9716-19ddbfc33700.png)

This is causing some bugs. Posting this for future r

[2019-10-14 20:11] starsheriff commented on #129
fyi, I start working on `take_while`

[2019-10-14 22:55] stjepang commented on #329
As a temporary hack, we could write first to a `String` and the write that `String` into the writer.

[2019-10-15 00:48] yoshuawuyts commented on #329
Oh lol, I like that. Sounds good!

[2019-10-15 00:51] #183 closed

[2019-10-15 07:51] starsheriff commented on #129
I will take a look at `peekable` next. Hope there is no blocker.

[2019-10-15 07:52] starsheriff commented on #129
Btw. It looks like `fold` and `for_each` are already implemented, but not ticked off in the list above.

[2019-10-15 07:56] #275 closed

[2019-10-15 14:10] yoshuawuyts commented on #175
We now have these, and I think it's okay to close this. Thanks!

[2019-10-15 14:10] #175 closed

[2019-10-15 14:33] thedodd commented on #212
@yoshuawuyts I'm glad you brought up the MPMC use case. That is definitely one area which still needs some love in the ecosystem, IMHO. I've had a lot of good experiences with https://github.com/ReactiveCocoa/ReactiveSwift building iOS apps and such. Rx/Reactive patterns are extremely useful when building large event-driven systems (data stores, apps &c); however, without MPMC/SPMC, it is difficul

[2019-10-15 17:00] yoshuawuyts commented on #329
Going to mark this as "good first issue" so someone can pick this up!

[2019-10-15 19:02] Michael-J-Ward commented on #329
Isn't that what it's already doing? https://github.com/async-rs/async-std/blame/00d936488b8909fdfc8896f485d7520ef0f3b0a4/src/io/write/mod.rs#L239-L246

[2019-10-15 19:03] Michael-J-Ward commented on #329
Isn't that what it's already doing? https://github.com/async-rs/async-std/blob/00d936488b8909fdfc8896f485d7520ef0f3b0a4/src/io/write/mod.rs#L239-L246

[2019-10-15 19:30] Michael-J-Ward commented on #329
Or do you mean to change the signature of `write_fmt` so it takes a `String` instead of an `Arguments` like this, which I have working:

[code]

[2019-10-15 19:43] yoshuawuyts opened #340 "Add Stream::timeout"
Similar to the `future::timeout` free function we should add a `Stream::timeout` method. This method should be marked as "unstable".

## Example

[code]

[2019-10-15 19:48] yoshuawuyts opened #341 "Add Future::delay"
Similar to https://github.com/async-rs/async-std/pull/309 we should add a method to `Future` that delays execution for a `Duration`. This method should be marked as "unstable".

This is useful in some cases where you want to define a `Future` that has a delay, rather than combining `task::sleep` with an async block and another future.

## Examples
[code]

This is simlilar to this, but less nice to

[2019-10-15 19:52] yoshuawuyts commented on #329
@Michael-J-Ward dang, you're right. Okay this may not be as straight forward as we'd like :/

[2019-10-15 20:09] yoshuawuyts opened #342 "Add Stream::throttle"
We should add a `Stream::throttle` method as "unstable", similar to [RxJs's `throttle` function](https://www.learnrxjs.io/operators/filtering/throttle.html).

The goal of this function is to limit the amount of items yielded per timeslice in a stream. This is usually considered a somewhat brute tool, but it does have its use and we should give people access to this.

## Examples
[code]

## Referen

[2019-10-16 08:30] k-nasa opened #350 "Sometimes there is no sleep time for Stream :: interval method"
Sometimes there is no sleep time for Stream :: interval method
`Duration :: from_micros (1000)` runs immediately with no interval
`Duration :: from_secs (1)` works as expected

[code]

[2019-10-16 08:54] stjepang commented on #350
Could that be because `dbg!(v)` itself takes more than 1000 microseconds? What do you think should be the behavior of the first loop?

[2019-10-16 11:13] stjepang opened #351 "Where should we put macros?"
Consider the following macros:
- `async_std::task_local`
- `async_std::println`
- `async_std::task::ready`

They are not organized in a very sensible way. Why would `task_local` be in the root module and not in the `task` module? And why is `println` not in the `io` module if standard I/O functionality lives there?

In the Rust standard library, all macros live in the root module. This is perhaps

[2019-10-16 12:10] yoshuawuyts commented on #351
@stjepang I'm thinking we re-export the std counterparts as part of the root of the crate. But then we also export the individual macros from their respective submodules.

Probably the odd macro odd out here is `write` / `writeln` which makes sense to have both part of `io` and `fmt`. We don't have a `fmt` crate currently so it's not a problem, but yeah still.

Related PR: #328

[2019-10-16 13:20] yoshuawuyts opened #354 "Should we expose task::AtomicWaker?"
As per https://github.com/async-rs/futures-timer/issues/39 it seems there are some scenarios where having an `AtomicWaker` type available would be useful.

It's somewhat niche, but I was wondering if it would perhaps make sense to expose it? Thoughts?

If we do we should probably create a separate crate so we can share the impl with `futures-timer`. Thanks!

[2019-10-16 16:47] Wassasin commented on #342
Made something I'll finish later that needs some testing. We might also consider implementing [debounce](https://www.learnrxjs.io/operators/filtering/debouncetime.html).

[2019-10-17 01:44] binarybana commented on #342
In my mind the operation described is more of a "subsampling" operation, whereas throttle applies backpressure but would otherwise be non lossy. But I'm just bike shedding

[2019-10-17 10:40] kpp opened #360 "async-std and futures-rs"
Hi all,

There are a lot of combinators copypasted from https://github.com/rust-lang-nursery/futures-rs/.

I would like to know your thoughts on further reducing the code in async-std in order to ease the maintenance and mitigate potential security risks.

[2019-10-17 13:43] skade commented on #360
Hi @kpp, I'm sympathetic to de-duplicating that at some point, but we currently don't re-export from futures-rs in general because their stability guarantees are different and things are in flux. Once they commit on interfaces, that might change.

I'd be interested which _security risks_ you see in combinator implementations?

[2019-10-17 13:56] skade commented on #354
Hm, I'm not quite sure if we should expose that or if we should maybe have a second library as a "futures development kit". Though `futures-util` is already that.

[2019-10-17 16:08] nbdd0121 opened #362 "async_std::sync::Mutex is too heavy"
I've noticed that async-std uses `std::sync::Mutex` in quite a few places. It's well known that parking_lot offers much better performance, and more noticeably space saving, compared to the std mutex, thus enabling very fine-grained locks.

The current `async_std::sync::Mutex` and other few places of async_std seems to be using `std::sync::Mutex`, which has quite a few allocations and is very heav

[2019-10-17 16:13] stjepang commented on #354
Note that a good chunk of `async-std` uses no I/O and no dependencies (or just really small dependencies). Perhaps we should think of factoring that out into `async-core` or putting everything else behind a feature flag (perhaps named `std`).

[2019-10-17 16:21] laizy commented on #360
@kpp,  I think this function is safe, since `W` has `Unpin` constraint, and the field `reader` owns `R`. if `R` is `!Unpin`, then `CopyFuture` is `!Unpin`. So we can not get `&mut CopyFuture` from `Pin<&mut CopyFuture` to move out the `reader` field, we also can not get `&mut R` from `Pin<&mut R>`.  please correct me if I am wrong.

[2019-10-17 16:24] stjepang commented on #362
Perhaps we could reuse `Spinlock` from `crossbeam-channel`?

[2019-10-17 16:38] yoshuawuyts commented on #360
@kpp our position on this hasn't changed since you raised this a few weeks ago. You can find it here: https://github.com/async-rs/async-std/pull/123#issuecomment-525916716

To re-iterate: `async-std` currently doesn't use the `futures-preview` crate, and we don't intend to either. We rely on `futures-core-preview` and `futures-io-preview` to provide ecosystem compatibility, and have no intention o

[2019-10-17 16:38] #360 closed

[2019-10-17 18:05] kpp commented on #360
@youshuawuyts actually your position is not clear to me. I can try to wrap the existent combinators into your stable api. So your api won’t change but it will reduce the inner code and copypaste a lot. Would it be acceptable to you?

[2019-10-17 19:15] montekki commented on #170
@yoshuawuyts I will try to look into that

[2019-10-17 20:01] stjepang opened #365 "Can we simplify io::copy?"
The current signature of `async_std::io::copy` is:

[code]

Both reader and writer need to be mutable references because we're just mimicking [`std::io::copy`](https://doc.rust-lang.org/std/io/fn.copy.html).

Unfortunately, this API is annoying to use when we want to share `TcpStream`s. Just look at this convoluted `&mut (&stream, &stream)` pattern:

[code]

I think we can do better. What if we di

[2019-10-17 20:01] stjepang commented on #365
cc @skade @yoshuawuyts

[2019-10-17 20:14] yoshuawuyts commented on #360
@kpp No thank you. `async-std` currently doesn't use the `futures-preview` crate, and we don't intend to either. We rely on `futures-core-preview` and `futures-io-preview` to provide ecosystem compatibility, and have no intention of changing our approach at this time.

[2019-10-17 20:16] stjepang commented on #365
I believe we could make the same change in the standard library. *scratches head*

[2019-10-17 20:18] kpp commented on #360
May I ask the reason why you don't intend to use futures-preview?

[2019-10-17 20:36] yoshuawuyts commented on #365
@stjepang I'd be in favor of trying this out — it seems you've thought this through and this seems good. It might be interesting to open an issue for this in std also!

[2019-10-18 00:41] nbdd0121 commented on #362
I did a few experiments, and I think I got an idea that can reduce `async_std::sync::Mutex` to the size of usize and makes it allocation-free when there isn't contention.

Here's the brief list of my plan. If you think it looks alright, I'll proceed to implementation and benchmark the performance differences.

Step 1: Replace Slab with a double linked list
* insertion/removal into/from the slab is

[2019-10-18 00:54] nbdd0121 commented on #217
I looked into this briefly when trying to improve `Mutex`. I think it should be fairly easy: for `Condvar`, we simply store a list of `Waker`s, and `notify_one` or `notify_all` will wake one or more of these wakers. Dropping the future removes its own wakers from the list. The important thing about sync `Condvar` is that it unlocks and sleep atomically, which requires OS assistance usually, but in

[2019-10-18 07:35] stjepang commented on #362
Do we allocate nodes for the linked list on the heap? If so, I am worried that these allocations will be slower than using the slab.

Another possibility is to lazily allocate the slab on the heap only when it is actually needed (i.e. there is contention on the async mutex). We could even put the address of the slab into `state` while using the lowest 2-3 bits for other stuff.

[2019-10-18 08:50] nbdd0121 commented on #217
I think it should be a regular notify. Condvar timeouts are never meant to be precise. If we prioritise timeout to a regular notify, then we may lose a notify_one call if we are notifying an user that is very close to timeout, which isn't really desirable.

I looked at your implementation and have a few worries:
* The implementation seems not robust against repeat polls (poll again before waker ca

[2019-10-18 09:13] nbdd0121 commented on #362
The linked list nodes are allocated on the heap, for the benefits of a stable address. Linked list has an extra benefit of guaranteed `O(1)` insertion/removal (slab uses `Vec`, which is amortised `O(1)`), and `O(1)` to get an item from the list (get an item from slab have `O(n)` complexity). Slab also does not shrink itself (and it is difficult for us to decide when to shrink them), so the worse c

[2019-10-18 09:14] stjepang commented on #217
I wonder how useful `wait_timeout` is since futures have baked-in support for timeouts. For example, `TcpStream` in the standard library has method `read_timeout` but we don't have it in `async-std` because we have futures combinators for timeouts.

Maybe we can just omit `wait_timeout` and only implement `wait`?

[2019-10-18 09:19] stjepang commented on #362
Interesting! Okay, I'm convinced :) On another thought, there must be tricks for optimizing allocations in the typical case so I'm not worried as much anymore...

I'd be happy to review a PR that replaces `slab` with linked lists.

Also, it would be great to have your experiments as microbenchmarks using `#[bench]`.

[2019-10-18 11:18] nbdd0121 commented on #217
I think it should be possible provided that `notify_one` does not get lost when the context it awoken drops the future instead of polling it (probably just need to redirect it to another waker).

[2019-10-18 15:59] tmccombs commented on #217
@nbdd0121 do you have any suggestion on how to resolve your concerns?

[2019-10-18 18:54] skade commented on #360
Because the name of the library is `preview` and the communicated state is `alpha`. The stability guarantees of `futures-preview` don't match ours and re-exporting `futures-preview` types is a stability hazard. This is both to allows the `futures-preview` team to do decisions without us, as much as the other way around. We are in close touch and track changes on both sides.

That may change when `

[2019-10-18 18:59] skade commented on #365
I think the main motivation behind forcibly taking a reference is to show intended use, I don't see much use for an API where both parameters are passed owned if they are streams.

I'm not _sure_ if this is a good motivation for such an API, as accidentally passing the stream owned will be caught by the borrow checker in all cases it is a problem. I'm fine with trying out this change.

[2019-10-18 23:18] kpp commented on #360
Thanks! That’s what I wanted to know.

[2019-10-18 23:40] mikecaines commented on #342
I implemented the [stream-throttle](https://github.com/mikecaines/stream-throttle) crate, which uses a backpressure approach.

It uses an intermediate `ThrottlePool` type, so that you can throttle multiple streams together. Similar functionality (but not identical) can be achieved with `Stream::select()`.

Perhaps some part of it could form the base for a solution. Just a thought!

[2019-10-19 13:42] felipesere commented on #129
I would like to try the min-max-family.

[2019-10-19 17:00] Michael-J-Ward opened #372 "test_buffered_writer_inner_into_inner_does_not_flush failing on master"
[code]

[2019-10-19 17:58] stjepang commented on #372
Are you using the latest version of the `master` branch?

[2019-10-19 18:13] Michael-J-Ward commented on #372
Woops! I thought I was but I was wrong!

[2019-10-19 18:13] #372 closed

[2019-10-19 18:25] svartalf opened #374 "Unnecessary PathBuf allocation for fs functions"
`async_std::fs` functions are allocating new `PathBuf` from the incoming `path` parameter (line 39 in the example below):

https://github.com/async-rs/async-std/blob/ec23632f3e7d2d8f9ed49995b85741eeb0a5be69/src/fs/read_to_string.rs#L38-L41

It is unnecessary when `path` is owned type already like `PathBuf` or `String`.
I do understand it is done that way in order to move it later to the closure wh

[2019-10-20 08:35] stjepang commented on #374
Maybe if there was specialization we could do it, but I don't see any other solution right now :(

[2019-10-20 21:22] ktomsic commented on #129
If they're not claimed yet, I'd like to do `Stream::sum()` and `Stream::product()`.

[2019-10-20 21:25] stjepang commented on #129
@ktomsic It's all yours, go ahead :)

[2019-10-20 23:52] Matthias247 commented on #362
If you just use [futures_intrusive::sync::Mutex](https://docs.rs/futures-intrusive/0.2.0/futures_intrusive/sync/type.Mutex.html) you get your parking-lot backed small mutex without any need for heap allocations - and even without the need to write the code yourself :-)

[2019-10-20 23:58] Matthias247 commented on #362
Btw: I would be super careful with pure Spinlocks in userspace. If the OS schedules away the thread which holds the lock you will start wasting a ton of resources and enter the wonderful world of priority inversions. IMHO they are a tool for Kernels and embedded applications. For normal userspace applications one should fallback to a Kernel wait primitive after some spins, or just avoid them in ge

[2019-10-21 00:00] nbdd0121 commented on #362
I looked at the code, I think the basic idea is the same. However using that will pull in a large amount of dependencies, which this project tries to avoid. My PR also does better than the code you refers to, so I don't see the point switching to that.

[2019-10-21 00:05] Matthias247 commented on #362
Yes, it's literally a [HUGE amount of dependencies](https://github.com/Matthias247/futures-intrusive/blob/master/Cargo.toml#L21-L22) 😀

[2019-10-21 00:05] nbdd0121 commented on #362
That's true, and my benchmarks show that naively changing everything to spinlock causes 4x performance degradation. However after changing from Slab to a linked list, we only spend very small amount of time in the critical region, and benchmark shows a similar (and slightly better) performance when compared with the current state.

FYI, crossbeam's Spinlock also has a back off policy which will yi

[2019-10-21 00:06] nbdd0121 commented on #362
If you see #252 you will notice that parking-lot is explicitly removed as a dependency from this project.

[2019-10-22 00:26] matt961 commented on #341
I'll give it a try, not sure how long it will take me so anyone else feel free to make a PR  in the mean time :P

[2019-10-23 03:26] wu-jun-jie opened #382 "please add HTTP module to async-std"
Every http impl need a runtime, now there is hyper, actix-http.
more rust async runtime appear, then need write new http impl(or port/adapt the above one), This is painful, Hard to choose and compare.
please add HTTP module to async-std

[2019-10-23 09:24] jbg commented on #362
Reducing deps is all well and good, but it doesn't make much sense to end up writing and maintaining equivalent code here when the potential dependency is of good quality and maintained.

[2019-10-23 16:02] #212 closed

[2019-10-24 10:06] oblique opened #387 "Can not use async block or async fn in `async_std::future::select!`."
I would expect this to work:

[code]

[2019-10-25 16:05] stjepang commented on #72
There is now a channel implementation in the `master` branch of `async-std`, behind the `unstable` flag:
https://github.com/async-rs/async-std/pull/380

[2019-10-26 12:55] andr2535 opened #391 "Reading into a buffer from a file might stall the execution"
When I try to run this test program, sometimes it stops executing after printing "Before".
I don't think the program should fail, so I'm creating this issue here.

[code]
I run this example code using this infinite loop. Since it doesn't always occur.
[code]

[2019-10-26 14:19] stjepang commented on #391
I believe this is fixed on the master branch, we just need to publish a new version. Can you confirm?

You can use the master branch with the following in your `Cargo.toml`:

[code]

[2019-10-26 18:59] andr2535 commented on #391
Yes, I can confirm, it works correctly in the master branch.

Thanks :)

[2019-10-26 18:59] #391 closed

[2019-10-28 02:23] #68 closed

[2019-10-28 03:25] skade commented on #387
I see your point. The select macro is sadly limited by virtue of being a plain macro, let's see if we can fix this somehow.

I'd like to avoid using `proc_macro_hack` like `futures` does for this.

[2019-10-28 07:35] k-nasa commented on #387
The same is true for join macros.
I thought the same thing, so I am very interested in how this is solved.

[2019-10-28 09:27] yoshuawuyts commented on #387
What we've been talking about for a while now is to change the `select!` macros into regular methods. Unlike `join!` they don't have polymorphic output, which means it's mostly about maintaining parity with `join`. And to me that's started to become less appealing as an argument recently.

[2019-10-28 10:03] yoshuawuyts opened #398 "Update the book tutorial to use async_std channels"
With #380 landed, we should update the tutorial to use them. This would remove the final dependency on `futures-rs` (and importantly: `Sink`) which should be a big step up in terms of usability.

Also we should consider moving from `select! {}` to `Stream::merge`. From chat with @skade we've figured out how to "send a `close` message after a stream has been exhausted":

[code]

@skade I'm assignin

[2019-10-28 10:59] yoshuawuyts commented on #382
@wu-jun-jie we probably won't ever add an http implementation to `async-std` directly. But we hear you, and are definitely keen on making sure it's possible to make HTTP requests *with* `async-std`.

We don't have anything to share at this time, but this is pretty high up on our list. Thanks for opening!

[2019-10-28 10:59] #382 closed

[2019-10-28 11:08] yoshuawuyts commented on #289
I don't think this is worth it at this time. Closing!

[2019-10-28 11:08] #289 closed

[2019-10-28 11:12] #340 closed

[2019-10-28 11:47] yoshuawuyts opened #400 "Add stream::from_iter"
It's quite common to want to create a stream from an iterator. Currently we're having a lot of `VecDequeue` in our examples because it implements `Stream`, but that might not stay around (see https://github.com/rust-lang-nursery/futures-rs/issues/1879).

So I propose we add a new function `stream::from_iter` that returns a struct `FromIter`, similar to how we have `stream::from_fn` that returns `F

[2019-10-28 12:12] yoshuawuyts commented on #400
Riffing on this more: actually the preferred outcome would be to have

`impl<I: Iterator> IntoStream for I`

We currently can't do this, but such a bound seems like it'd be ideal. That way any `Iterator` impl could be converted to a stream, yet `into_iter` and `into_stream` methods could co-exist on any given type. This would also remove the need for `stream::from_iter`, which admittedly isn't qui

[2019-10-28 17:46] yoshuawuyts opened #404 "Add Future::flatten"
Similar to future-rs's [`Future::flatten`](https://docs.rs/futures-preview/0.3.0-alpha.19/futures/future/trait.FutureExt.html#method.flatten) method, this can sometimes come in useful.

However the only difference with it should be that we take `IntoFuture` as the trait bound, and call it under the hood. Because `IntoFuture` is implemented for `Future` this should work as expected.

Thanks!

## Ex

[2019-10-29 01:20] #341 closed

[2019-10-29 03:53] yoshuawuyts opened #406 "use once_cell instead of lazy_static"
`once_cell` by @matklad provides a neat way of initializing lazy singletons. There's a related RFC out now to add this to the stdlib.

In anticipation of this, and in order to help test it, it might be nice if we switched our code over to use `once_cell` from `lazy-static`.

## references

- RFC: https://github.com/matklad/rfcs/blob/std-lazy/text/0000-standard-lazy-types.md
- crate: https://crates

[2019-10-29 07:09] matklad commented on #406
Note that `once_cell` is also slightly faster than `lazy_static` (due to [compiler bug](https://github.com/rust-lang/rust/issues/64075)?) for the hot get operation, which might actually matter for hot task switching code?

[code]

[2019-10-29 09:53] yoshuawuyts opened #407 "TCP smoke testing"
Currently our system isn't running automated tests for TCP. We should at least have some smoke tests for:

- `async_std::net::TcpListener` + `std::net::TcpStream` (test tcp server)
- `async_std::net::TcpStream` + `std::net::TcpListener` (test tcp client)

There's an empty `tests/tcp.rs` file which we could use to fill in. This should be quite straight forward when basing it on the examples. The on

[2019-10-29 10:12] yoshuawuyts commented on #374
I don't think there's much we can do here without specializations. My hope with this has always been that LLVM is (or becomes) smart enough to realize we're doing a redundant copy and optimizes it away in most cases. But other than that I'm not sure what we can do.

Going to go ahead and close this, as improving this is very much something that needs to happen at the compiler layer.

[2019-10-29 10:12] #374 closed

[2019-10-29 10:13] yoshuawuyts commented on #400
Going to go ahead and mark this "good first issue". It should be fairly straight forward to implement `stream::from_iter`. Thanks!

[2019-10-29 10:49] matklad commented on #398
cc me: I am slightly worried about introduction of explicit `Shutdown` messages, as opposed to just exhausting the stream. I wan to say that I want to port the tutorial myself, but I am in the middle of big refactoring of rust-analyzer right now. I'd be interested in reviewing the update PR!

[2019-10-29 14:11] yjhmelody opened #410 "Some questions about stream's methods"
The streams have no bounds with Sized in some impls such as
<https://github.com/async-rs/async-std/blob/master/src/stream/stream/max_by.rs#L33>

Others have the Sized bound, such as
<https://github.com/async-rs/async-std/blob/master/src/stream/stream/min_by.rs#L33>

So are the Unpin.

Another question is that some impls such as `skip`, are using loop, while others are not, such as `min_by`
What's

[2019-10-29 14:20] k-nasa commented on #400
Can I try this :question:

[2019-10-29 15:54] yoshuawuyts opened #411 "Document use of future::timeout in combination with channels"
[As shared here](https://www.reddit.com/r/rust/comments/doos98/asyncstd_v09911_released/f5pn0wb/), channels could potentially deadlock if the capacity isn't large enough:

[code]

Instead we should probably mention that by using `future::timeout` this can be prevented from hanging indefinitely:

[code]

Perhaps we could even mention in the docs that folks should probably default to something spaci

[2019-10-29 16:21] yoshuawuyts commented on #400
@k-nasa go for it!

[2019-10-29 23:49] ansrivas opened #413 "Using Barrier with Channels, the proper way?"
Hi @stjepang thank you for the wonderful channels implementation.
cc: @yoshuawuyts

I am trying to migrate one of my go-implementations to async-std channels, so this is what I came up with, but wondering if this translation from go's `waitgroup` and `channels` to rust's `Barrier` and `channels` is correct.

I have tested the following implementation and it works, but just want to make sure that m

[2019-10-30 04:28] wusyong commented on #406
Hello, I'm interested in this. Could I give it a try?

[2019-10-30 09:39] stjepang commented on #406
@wusyong Of course :) thank you!

[2019-10-30 11:23] #406 closed

[2019-10-30 11:34] paulocsanz opened #417 "Create default `stable` feature before 1.0 to avoid future breaking changes"
Hey, this comes from a discussion that happened on reddit after a announcement of this crate, basically it would be nice to split this crate in features in the future, to allow using just a fraction of it. This would make it incredibly easy to integrate this crate with others in the async ecosystem.

But splitting into features is a breaking change, since it will break the crate for whoever uses `

[2019-10-31 01:08] yoshuawuyts opened #423 "remove pin-utils"
Since #381 we've moved from pin-utils to pin-project-lite. We should finish that migration, and stop relying on pin-utils entirely.

[2019-10-31 01:13] taiki-e commented on #423
pin-project{-lite} [doesn't support stack-pinning (pin_mut!)](https://github.com/taiki-e/pin-project/issues/58), so pin-utils still seems necessary.

[2019-10-31 01:24] yoshuawuyts commented on #423
@taiki-e ah yeah, that makes sense. Thanks for clarifying!

[2019-10-31 01:24] #423 closed

[2019-10-31 06:39] yoshuawuyts opened #424 "API design: imlement Future for Vec<Future>?"
We currently don't have an equivalent of `future::join_all`. I was thinking: what if we had an implementation that did the same by implementing Future on a Vec of Futures:

[code]

Not sure if orphan/coherence rules allow this tho. But this might be a nice shorthand. Also interesting perhaps to explore if we can enable this for arrays too. And whether we could use `IntoFuture` and `IntoIteraror` i

[2019-10-31 06:41] Matthias247 commented on #411
Please not - that is the wrong advice. The outcome of this is that the system will then just deadlock under heavy load instead of early on. This  will be even harder to detect, diagnose and fix. And it will exactly happen when you need it at least: In production under stress. Channels should be be used in a fashion where they can't deadlock independent of the size. As the [Uber Go Styleguide](http

[2019-10-31 06:50] yoshuawuyts opened #425 "rename Future::select to Future::race"
Both JS and reactive streams use `race` for what we call `select`. So perhaps we should consider following suit.

This is after feedback from @withoutboats that the name may not be right.

[2019-10-31 08:00] k-nasa commented on #425
I like this name Future::race. It's familiar to me, than select.

[2019-10-31 09:29] yjhmelody commented on #129
The Stream::rposition maybe need `DoubleEndStream`?
I see std's signature
[code]
So are the `rev`

[2019-10-31 09:42] portgasd666 commented on #404
I can take a stab at this

[2019-10-31 12:02] skade commented on #404
@portgasd666 go ahead!

[2019-10-31 14:19] markhildreth commented on #407
It seems that `tests/tcp.rs` is not empty, but does already does have some tests in it, although none of them appear to be using the std library's `TcpStream`/`TcpListener`. To be more specific, are you looking for a test or two that has an async_std stream connect to a std listener, and a std listener connect to an async_std stream?

[2019-10-31 15:30] markhildreth commented on #407
I've added #429 based on my assumption of the requirements. Please let me know if I've misunderstood the requirements. If so, I can make revisions.

[2019-10-31 16:57] kpp commented on #229
@k-nasa You may want to be aware of my solution: https://github.com/async-rs/async-std/pull/122

[2019-10-31 17:50] paulocsanz commented on #387
Proc-macros compiled to web-assembly can help with this too without significant costs.

https://github.com/dtolnay/watt

[2019-10-31 19:43] skade commented on #387
@paulocsanz Yes, but this is also heavily experimental and as such a compatibility hazard. It's fine, I believe the future can be found there, but let's talk once that became accepted practice.

[2019-10-31 19:55] yoshuawuyts opened #430 "Replace `VecDeque` with `stream::from_iter` in examples"
Now that https://github.com/rust-lang-nursery/futures-rs/pull/1930 has landed, we're waiting on https://github.com/async-rs/async-std/pull/415 to be merged. Once it's merged we should replace all uses of `VecDeque` with `stream::from_iter` so we're setup for the `futures@0.3.0` release.

This should be a fairly mechanical change, and easy to pick up!

[2019-10-31 23:02] yoshuawuyts commented on #425
I'll update #405 with this change.

[2019-11-01 01:06] stjepang commented on #424
That's a very interesting idea. I think such a blanket impl could only live in the standard library. Not sure if there are any coherence issues, but it would probably work!

Is `future::join_all(v)` essentially equivalent to this?
[code]

[2019-11-01 01:09] yoshuawuyts commented on #424
@stjepang not quite, as in `join_all!` the futures would resolve concurrently (though being ordered!), whereas in `Stream::map` they resolve sequentially.

[2019-11-01 01:52] stjepang commented on #424
What if we made it possible to resolve concurrently by doing the following:

[code]

[2019-11-01 08:02] skade commented on #425
While I agree that `race` is a good name, I would not use familiarity and the JS API as an argument.

The reasoning is mainly that this requires the user to have a specific context (either being from the JS world or knowing the specifics of `select` vs `race`). We should also somehow make sure that people searching `select` may also find `race`.

[2019-11-01 08:05] skade commented on #424
IMHO, the result of this should be `Box<[T]>` and the function implemented on `&[T]`. I don't think the input and output of this should be manipulated or grown by the user.

I would also like to see a parallel API like @stjepang suggests.

[2019-11-01 08:12] skade commented on #417
I would generally consider this. A good question though is if we want this attribute in a broad fashion, like your PR or in a granular fashion like the in the stdlib (annotating every item!).

The latter gives a lot of granularity.

Also, I was suggesting something similar for WASM here: https://github.com/async-rs/async-std/pull/225#issuecomment-548434045

Aside: I would really like if we had the

[2019-11-01 10:22] stjepang commented on #425
Related (here I talked about `select!` but it also applies to `select()`): https://github.com/rust-lang-nursery/futures-rs/issues/760#issuecomment-522719159

I believe we could mention "select" in the docs of `race()` and then it would pop when searching for "select" in rustdoc.

[2019-11-01 11:01] stjepang commented on #79
How does everyone feel about an API like this?

[code]

Something I'm unsure about is what should happen when we drop the runtime instance. If there are threads executing tasks at the moment `drop(rt)` happens, do we block until those tasks are completed? Do we just let them go and signal the threadpool that it should shut down ASAP? What kinds of shutdown procedures do you need?

[2019-11-01 11:06] yoshuawuyts commented on #79
@rw What purpose does this custom runtime serve? Are you mocking out any APIs perhaps?

[2019-11-01 12:09] sdroege commented on #79
That would work as the most minimal starting point, yes. Maybe also some kind of `rt.spawn(fut)` that does not block would be good to have, or to otherwise get a (also cloneable) handle to something that can spawn on this specific runtime.

Personally it would be sufficient to shut down ASAP on `drop`. The active time of the runtime would be defined by the given future, and it should be possible t

[2019-11-01 12:11] sdroege commented on #79
@stjepang Or maybe even have `rt.block_on()` consume the runtime by value so that it's clear that after it returned nothing else is going to happen anymore.

[2019-11-01 12:26] k-nasa commented on #430
Will I do this with #415 ?

[2019-11-01 15:04] yoshuawuyts commented on #430
@k-nasa I think we should merge that first, and create a follow-up PR to it that ports over the examples. That way we keep moving forward without having a single massive PR that does both things at once. Would you be willing to write the follow-up PR?

[2019-11-01 15:05] #400 closed

[2019-11-01 16:13] stjepang opened #435 "Zero-capacity channels"
While we can't implement zero-capacity channels based on futures, we can do something similar. Here's a proposal.

A zero-capacity channel could be a channel that has the capacity of 1, except that every send operations will not complete until its message is received.

The problem here is that send operations are not *cleanly* cancellable. Once a send operation has put its message into the channel

[2019-11-01 16:18] stjepang opened #436 "Zero-capacity channels"
While we can't implement zero-capacity channels based on futures as faithfully as they are in `crossbeam-channel` and Go, we can do something very similar. Here's a proposal.

Our zero-capacity channel could be implemented as a channel that has the capacity of 1, except that every send operation does not complete until its message is received.

The problem here is that send operations are not *cle

[2019-11-01 16:50] stjepang commented on #413
Hey, this looks like solid code! :)

As another suggestion (not saying you should do it, it's just an idea), Go's `waitgroup` can be simulated with our channels:

* `wg.Add(1)` is like `sender.clone()`
* `wg.Done()` is like `drop(sender)`
* `wg.Wait()` is like `receiver.recv().await`

[2019-11-01 17:05] vorner commented on #79
I've found that being able to reuse the runtime for multiple iterative `block_on`s is a nice optimisation (I've used that in tokio). Actually, tokio allows even concurrent `block_on`s from multiple threads.

As for the drop… there should be some way to wait for the RT to drain itself before dropping it. And I think that it should be the default, because oftentime leaving a thread that actively doe

[2019-11-01 17:10] stjepang commented on #362
For reference, these are our current `async_std::sync::Mutex` benchmarks:

[code]

This is `futures_intrusive::sync::Mutex` with default Cargo options and with `is_fair` set to `false`:

[code]

This is `tokio::sync::Mutex`:

[code]

This is `futures::lock::Mutex`:

[code]

There is some variance to these numbers between consecutive runs, though.

[2019-11-01 17:20] stjepang commented on #79
What if we leave only idling threads that have no tasks to execute while the main thread shuts down?

[2019-11-01 17:39] vorner commented on #79
I don't know. I mean, if nothing runs it might be fine ‒ at least from the Rust user point of view. But I've heard it might be problematic on Windows ‒ I don't know any details there, though.

If the thread is already synchronized to know it should stay idle, is it a problem to shut it down instead?

[2019-11-01 19:04] stjepang commented on #212
Related follow-up thread: https://github.com/async-rs/async-std/issues/436

[2019-11-01 19:40] stjepang opened #438 "Add "runtime" feature flag?"
Some people want to use `async-std` for its channels, streams, and such without pulling in the actual runtime (networking driver and executor).

Perhaps we should consider introducing `runtime` feature flag, which would be enabled by default and would enable modules `fs`, `net`, `os`, `process`, and `task` modules.

We should then also pick a name for the core parts of `async-std`, perhaps we coul

[2019-11-01 19:44] matklad commented on #436
@stjepang you obviously know better, but I find it quite amusing that there *has* to be a difference between threads and tasks here. Like, the threads don't magically rendezvous at a single moment in time (you might have only a single CPU).

Could you point out exactly why can't we deem the operation completed only after both sides made all the required moves?

[2019-11-01 20:18] stjepang commented on #436
It's the same reason why scoped threads are easy to design, but scoped tasks (impossibly?) difficult.

The crucial difference is that we can force threads to complete operations, whereas we can't force futures:

* We can force a thread to join spawned threads at the end `crossbeam::scope()` but can't do the same with tasks.
* We can force a thread to complete a `send()`/`recv()` operation once it

[2019-11-01 21:07] ansrivas commented on #413
@stjepang Thank you, also just putting this here as an example.

[code]

[2019-11-01 21:07] #413 closed

[2019-11-02 00:33] #417 closed

[2019-11-02 01:30] #407 closed

[2019-11-02 02:12] yoshuawuyts commented on #438
@stjepang I like this idea a lot, and think that we should do it.

I don't think we need to add a "core" feature flag, because "core" is what you're left with if you disable "runtime". Besides: it wouldn't make sense to every enable "runtime", but not "core", so I'm not sure this would even make sense.

[2019-11-02 02:14] yoshuawuyts commented on #438
Also I've been thinking of moving #238 forward, and it'd be interesting to consider what to name that feature. It'd be off-by-default, but would be a superset of "runtime".

[2019-11-02 02:18] stjepang commented on #438
Maybe `attributes`? :)

[2019-11-02 02:19] yoshuawuyts commented on #438
@stjepang oh I like that!

[2019-11-02 04:10] Matthias247 commented on #436
zero capacity channels are possible with futures. You just need to rendezvous on the `poll` of the receiving side. `futures-intrusive` implements them. It's not even a special channel type - it's just the regular bounded channel configured with 0 capacity and exactly the same code.

[2019-11-02 12:47] stjepang commented on #206
What is the outstanding work we need to do on this issue? If there is none, can we close?

[2019-11-02 12:51] stjepang commented on #7
@ansrivas This looks good!

I think my further suggestions would be:

* Put everything inside `main.rs` rather than `main.rs` and `hello_world.rs`
* Simplify the `main` function so that it only has a big `block_on()` and then does something inside, perhaps calls `say_hi().await` or something like that.

@skade opinions?

[2019-11-02 12:52] stjepang commented on #9
I think it'd be good to have a "cookbook" or "common paterns" section in the book. Can we start by adding this example?

[2019-11-02 13:02] yoshuawuyts commented on #9
We already have this section, but it's WIP: https://github.com/async-rs/async-std/commit/b6a453bd982bc1427258a2f4667c029b504544cd#diff-3dbd16223f25e8b5e0bcf099743107e9R28-R78

[2019-11-02 13:05] yoshuawuyts commented on #206
@stjepang Yeah, I think it's okay to close. The only part that could potentially still be an issue is:

But we haven't had any other reports, so it may indeed just have been the client side here.

---

@vorner thanks so much again for the article you wrote. Apologies I dropped off of this feedback issue, but the points you've raised have been incredibly useful to improve the flow of people discove

[2019-11-02 13:05] #206 closed

[2019-11-02 13:27] yoshuawuyts commented on #229
@jonathandturner now that #334  is merged, the next release should work for your use case as part of the `"unstable"` feature set! :tada:

Apologies it took a few weeks to resolve, but the biggest hurdle has been overcome now!

[2019-11-02 13:49] stjepang commented on #9
Oh nice. I think we should just close this then and polish the book a bit.

[2019-11-02 13:49] #9 closed

[2019-11-02 14:12] stjepang commented on #48
I believe github actions don't support non-x86-64 targets. What do we do here? Can we close the issue and reconsider later?

[2019-11-02 14:17] taiki-e commented on #48
I'd like to use [cross](https://github.com/rust-embedded/cross); see [this change](https://github.com/async-rs/async-std/pull/286/files#diff-e9f950f17198d3d5e3122a44230a09b9R49-R81) in #286

[2019-11-02 14:18] stjepang commented on #237
@skade Could you expand on the problem? It'd be nice to have this behind the `attributes` feature flag (or something similar).

[2019-11-02 14:38] stjepang commented on #293
@dvc94ch What if we had an API along these lines? Would that work for you?

[code]

[2019-11-02 15:11] dvc94ch commented on #293
So how would this be used exactly? Are these operations idempotent? But it seems reasonable.

[code]

[2019-11-02 15:36] stjepang commented on #293
@dvc94ch Almost -- this is closer to what I had in mind:

[code]

[2019-11-02 22:00] #387 closed

[2019-11-03 09:18] vchekan opened #444 "Doc: Sender state that send will be blocked"
Documentation states that `Sender::send` will "block the current task until the send operation can proceed". The word "block" is potentially misleading, because it is usually applied as synonymous to "will block thread". Could it be reformulated with word "await" somehow? For example: "If the channel is full, this method will await until operation can proceed."
https://github.com/async-rs/async-st

[2019-11-03 09:22] matklad opened #445 "Add top-level `channel` module?"
Currently, `channel`, `Sender` and `Receiver` live directly in `async_std::sync`. This doesn't match `std` (where there's a `sync::mpsc` submodule) and looks pretty weird on it's own:

* I expect `sync::channel` to be a module (to the point that I was thinking about it as such when writing a title for this issue, despite the fact that I've used this *function* a minute ago)
* Knowing that `sync::c

[2019-11-03 11:32] stjepang commented on #445
So the reason why I chose not to have `channel` module is twofold.

First, the channel API is no bigger than the RW lock API. In fact, all of the synchronization primitives come in multiple types:

* `Arc`, `Weak`
* `Mutex`, `MutexGuard`
* `Barrier`, `BarrierWaitResult`
* `channel`, `Sender`, `Receiver`
* `RwLock`, `RwReadGuard`, `RwWriteGuard`

If `channel` deserves to be its own module, why does

[2019-11-03 12:40] #430 closed

[2019-11-03 14:12] matklad commented on #445
I think all other things in `sync` have one central type, and a number of subordinate types (its even reflected in the naming of all things except `Arc/Weak`), while for channels all of `channel, Sender, Receiver` are equally important.

For naming `channel { bounded }` or `channel { channel }` both feel ok to me. I definitely don't like `mpmc`. Maybe we even need `channel { channel, bounded }`, w

[2019-11-03 15:16] yoshuawuyts commented on #445
@stjepang for me a guiding design principle is to follow std's lead on module hierarchy and naming. The split hasn't been even formally proposed yet, and even when if it would happen the `sync` submodule will not go away — at most it'd be deprecated.

Given `std` hasn't set a precedent yet, I don't think we should create a new submodule for channels.

[2019-11-03 15:47] matklad commented on #445
Note that if we strictly follow conventions of std, we should put channels into sync::mpmc submodule, and not directly into sync.

[2019-11-03 15:53] yoshuawuyts commented on #445
@matklad if `mpmc` channels ever made it into std, following [this proposal](https://stjepang.github.io/2019/03/02/new-channels.html) `mpsc` channels would be deprecated. The reason for that is because it'd be a chance to also clean up all the confusing terminology that is considered a mis-design of the `mpsc` channels.

That's why I mentioned this is a bit more murky because this is a *new* API t

[2019-11-03 21:19] #444 closed

[2019-11-04 00:52] yoshuawuyts opened #450 "Remove doc Stream impl from VecDeque"
In `futures@0.3` the Stream impl on VecDequeue will be gone. We should remove our doc for it before we release 1.0. Thanks!

[2019-11-04 07:46] skade commented on #7
Hi @ansrivas,

sorry for missing that.

I agree with what @stjepang said and would love to move it into the async-rs org after those fixes have been made. We can still further iterate :).

[2019-11-04 11:52] ansrivas commented on #7
Hi @stjepang, @skade thank you for the suggestions.

I incorporated them here:
https://github.com/ansrivas/async-std-starter/blob/0d62dde33acab9ef563104bf9668315c96fa0237/src/main.rs#L8

[2019-11-04 22:51] yoshuawuyts opened #453 "Expose future types from future::ready and future::pending"
Today I was working on Tide, and came across the need for having the future type returned by `future::ready`. Namely I wanted to implement a no-op as part of a trait that expects a future to be returned.

The signature is:
[code]

`fn connect` returns `ConnectionFuture`. It doesn't do anything, so using `future::ready` seemed like a nice option. Except since it's an async fn we're not able to enum

[2019-11-05 10:11] stjepang commented on #453
Any reason why not use `Pin<Box<dyn Future<Output = ...>>>` or the `async-trait` crate?

This seems like the classic `async fn` in traits problem :)

[2019-11-05 10:15] yoshuawuyts commented on #453
@stjepang I guess the answer is perf. But yeah maybe we just shouldn't. Unsure, heh.

[2019-11-05 16:47] Nemo157 opened #455 "non-prelude usage"
I was browsing the documentation today and noticed that there doesn't appear to be any way to use the extension methods without importing the prelude (e.g. `async_std::io::Read::read`). Is there a plan in place for providing access to these methods for users that avoid glob imports?

[2019-11-05 17:06] stjepang commented on #455
I suggest we re-export extension traits in `async_std::prelude` without hiding them in docs and renaming with `as _`.

[2019-11-05 18:09] dignifiedquire commented on #455
yes please, I have had multiple issues with those being hidden, when needing to distinguish between differnt imported traits.

[2019-11-05 19:15] yoshuawuyts opened #457 "[tracking] spawning non-Send tasks"
In https://github.com/async-rs/async-std/pull/251 we discussed the option of adding a `task::spawn_local` method, similar to @alexcrichton's design of [`spawn_local` in wasm-bindgen-futures](https://docs.rs/wasm-bindgen-futures/0.4.3/wasm_bindgen_futures/fn.spawn_local.html). This is a tracking issue for that design to get feedback on whether people would want this, and how we would go about imple

[2019-11-06 08:35] #450 closed

[2019-11-06 11:29] dignifiedquire commented on #79
Adding this here as #137 points here. One blocker for adapting async-std in some places for me is that I have no control over the threadpools at all. The two minimum things I would need are a) setting a maximum thread count b) setting properties on the threads, like their nice'nes level. The way rayon solves this, works quite well in this regard for me.

[2019-11-06 15:18] skade commented on #79
@dignifiedquire To my reading, that describes a separate threadpool library with async/.await integration though?

[2019-11-06 15:22] dignifiedquire commented on #79
@skade while that would be great, that was not what I meant. The thing I need to be able to do is to control the amount of threads and their properties  __anything__ in my rust stack creates, including the executor/runtime.

I don't need access to threadpools directly, I just need to control them. For manual thread spawning I would still use a different solution.

This is hard enough with a bunch

[2019-11-06 17:25] stjepang commented on #79
@dignifiedquire Can you say more on how you want to set properties on threads and how Rayon solves the problem?

Is this the method you would be using in Rayon? https://docs.rs/rayon/1.2.0/rayon/struct.ThreadPoolBuilder.html#method.spawn_handler

You've also mentioned you need to control the number of threads. But I wonder what we should do in case of `spawn_blocking()`, where the number of thread

[2019-11-06 17:28] dignifiedquire commented on #79
This is roughly how I plan to use rayons capabilities: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=38ed5e90ea0fff7ca5cea1b196118bf3 (+ using `spawn_handler` to set properties)

My expectation would be that any thread spawning would be limited to a max that I set, and as such it would block until there is a free thread to use/there is room to spawn another one

[2019-11-06 18:05] frehberg commented on #22
Proposal: AFAICS,, dealing with async termination of subprocesses is quiet challenging. For example the Posix framework does not permit to poll read-events on process-ids, but provides a signalling  mechanism to tell the parent process about termination of child-processes. The problem is, that this signal may be delivered to any thread within the parent-process (assuming NPTL), likely interrupting

[2019-11-06 23:17] k-nasa commented on #229
Close because #334 has been merged

[2019-11-06 23:17] #229 closed

[2019-11-06 23:56] stjepang commented on #438
If the `runtime` feature flag is enabled by default, I think then we need to introduce another feature flag that describes everything else (perhaps `core`?).

The reason for that was discussed in #417, where we decided that if `default-features` is set to `false` and no features are enabled, then `async-std` should contain literally nothing.

So if someone wanted to use "core" parts of `async-std`

[2019-11-07 00:01] stjepang commented on #22
@frehberg Interesting, that sounds very reasonable to me, although I'm not super familiar with this area. :)

I wonder - how does your strategy differ from what was implemented in `tokio-process`?
https://github.com/alexcrichton/tokio-process

If your strategy is different, what are the pros/cons?

Thank you for chiming in and offering help, this is very helpful and much appreciated! <3

[2019-11-07 00:13] yoshuawuyts commented on #438
@stjepang I think we should not have another feature flag, and instead let the absence of "runtime" imply "core". If you want neither, it's probably time to remove async-std from the dep tree.

I think that would create a nice hierarchy, and a friendly user interface!

[2019-11-07 00:45] stjepang commented on #438
@yoshuawuyts I agree with you, but there's a compatibility hazard in that if we make something available by specifying `{ default-features = false, features = [] }`, then we can't break those items further into feature flags.

So perhaps, just in case, we should introduce flag `std` that implies the existence of the standard library so that we can later on make it so that `features = []` implies `

[2019-11-07 01:21] yoshuawuyts commented on #438
@stjepang okay sure, let's put it under `"core"` then. I haven't thought enough about the `no_std` usecase to have any meaningful opinions, in which case I agree it's best to be cautious.

[2019-11-07 01:48] #455 closed

[2019-11-07 02:15] yoshuawuyts opened #466 "Implement `FromIterator` for `PathBuf`"
We currently can't implement the last example from [the path submodule](https://doc.rust-lang.org/std/path/index.html). This is because we don't implement `FromIterator` for our `PathBuf` struct:

[code]

We should implement `FromIterator` for `PathBuf` so we can `collect` the way it's done in `std`. This is fine to have in addition to `FromStream` because it mostly extends what we're able to coll

[2019-11-07 02:19] yoshuawuyts commented on #425
This was closed by https://github.com/async-rs/async-std/pull/405.

[2019-11-07 02:19] #425 closed

[2019-11-07 07:19] frehberg commented on #22
@stjepang  The tokio-process implementation (POSIX) is using the painfull signal-approach (as documented  at the top of [file](https://github.com/alexcrichton/tokio-process/blob/master/src/unix/mod.rs)). This solution  requires a global child-queue and does not scale well. This solution might even interfere with signal handling in  legacy C/C++ or for example Erlang apps.

The forkfd-concept allow

[2019-11-07 11:27] 95th opened #468 "TcpListener echo example is confusing"
Echo server example in TcpListener seems confusing to a new-comer.

[code]
It's not clear how `io::copy` can use reader and writer which are basically `&mut &TcpStream`

[2019-11-07 12:14] stjepang commented on #468
This change would solve the problem: https://github.com/async-rs/async-std/issues/365

Then one could write:

[code]

[2019-11-07 12:17] stjepang commented on #365
It's interesting how the `futures` crate only went halfway there:

[code]

[2019-11-07 12:20] stjepang commented on #365
What are your feelings on this? People are repeatedly complaining about `&mut (&stream, &stream)` and I must admit -- it is is an odd pattern.

Tokio has the `.split()` method that returns back a reader and writer pair, but that's a lot of API surface which doesn't exist in the standard library.

With the change proposed here, everything that works in `std` would also work here, except we'd also b

[2019-11-07 12:24] yoshuawuyts commented on #365
Still happy to try this change out!

[2019-11-07 12:50] yoshuawuyts opened #470 "Add Future::join and Future::try_join"
Similar to #405's addition of `Future::race` we should expose `Future::join` and `Future::try_join` as well. However unlike #405 we would keep the macro around because it's the only way of creating a variable-sized tuple when joining multiple results ("return-type polymorphism").

This would be a chance as well to update the `future` module-level docs to talk about `Future::join` vs `Future::race`

[2019-11-07 16:29] airtrack opened #472 "Drop the channel receiver first, then the sender await forever"
Whatever the capacity is, drop the receiver first, then the sender await forever, test with release `v0.99.11`.

[code]

[2019-11-07 22:01] #472 closed

[2019-11-07 22:10] #237 closed

[2019-11-08 04:18] aretsan opened #477 "Support for Stream::for_each_concurrent()?"
futures has a method for_each_concurrent() on StreamExt. It functions basically the same as for_each() but the future to be executed doesn't block the stream. Is it possible to implement the function in async-std as well?

[2019-11-08 08:58] zhengxingjian opened #480 "cannot use the `?` operator in a function that returns `impl std::future::Future`"
[code]

[code]

[2019-11-08 13:09] stjepang commented on #480
I wasn't able to reproduce this exact error, but the following works for me:

[code]

[2019-11-08 20:48] dignifiedquire opened #484 "Is there a nicer way to use `map` and `race`?"
Trying to use `.map` from `futures::future::FutureExt` and `.race` from async_std, the best thing I came up with is

[code]

but I would like to write

[code]

I believe this is a general issues with methods provided by `futures` vs `async_std` at the moment

[2019-11-09 01:34] yoshuawuyts opened #486 "API: channel::send_all?"
In https://github.com/async-rs/async-std/issues/212#issuecomment-535461575 I mentioned it'd be interesting to investigate broadcasting channels. I initially thought we might want to create a new type for this, possibly in a separate library, but I think at least API-wise we could integrate this into the existing channels module.

The way we could do this is by introducing a new API: `Sender::send_

[2019-11-09 09:13] thomaseizinger commented on #237
The docs of `async-attributes` currently say:

I understand the second point but the first one is no longer true with the re-export, is it? Even with the feature-flag, the attributes are now part of the public API of `async-std` and hence it would be a breaking change to remove them in favor of language features, right?

It feels like we could just merge those macros into `async-std` now to remove

[2019-11-09 10:05] k-nasa opened #488 "Is there a way to circumvent the static lifetime request for task :: spawn?"
I have a question. I would like to execute code like this. However, static lifetime is required and cannot be executed. The host variable is determined at runtime.
What should I do?

[code]
This is the error message.
[code]

[2019-11-09 10:14] yoshuawuyts commented on #488
@k-nasa I don't have a good answer, but I believe the short answer is "no". You could get an `&str` _inside_ an async context. But you can't get it from outside -- the task can freely be moved around which would violate the lifetime requirements.

More about that was written here: https://aturon.github.io/tech/2018/04/24/async-borrowing/

[2019-11-09 10:26] stjepang commented on #488
@k-nasa I suggest you convert the `&str` to a `String` and move it into the new async task:

[code]

We do something similar in `async_std::fs`, where we often convert `&Path` to `PathBuf`, for example in `async_std::fs::metadata`:

[code]

[2019-11-09 10:29] stjepang commented on #484
Perhaps we should add more methods to our `FutureExt` trait so that people don't have to mix methods from `futures` and `async_std`?

[2019-11-09 10:30] yoshuawuyts commented on #484
@dignifiedquire the problem you're describing here seems to be that of "remote cancellation" in general, and we've started work on that in https://github.com/async-rs/stop-token. Hopefully that will at least help in this case!

[2019-11-09 10:35] taiki-e commented on #484
Perhaps just import without names.

[code]

[2019-11-09 10:47] dignifiedquire commented on #484
@yoshuawuyts that looks nice, I will try it out.

@taiki-e nice that actually makes it work as I would expect, though it is not intuitive that this would fix the issue (at least not to me)

[2019-11-09 11:38] k-nasa commented on #488
I was able to pass the build! Thank you!
[code]
But my code uses loops.
Because it clones every time, execution has slowed down ...
I've solved the question in this issue, but I want to know how to speed up this code.

[2019-11-09 11:41] yoshuawuyts opened #490 "Throughput improvement to Stream::merge"
In #437 we fixed bugs to `Stream::merge`. There is another improvement we may want to apply here:

## Randomization

If two items from `Stream::merge` are ready at the same time, we will always pick the item from the first stream first. We should probably apply some randomization here to make it so we don't exhaust one stream completely before starting the other. This should reduce overall latency

[2019-11-09 11:52] yoshuawuyts commented on #488
@k-nasa you could put it in a mutex/rwlock, and clone the handle perhaps?

[2019-11-09 12:03] #466 closed

[2019-11-09 12:08] yoshuawuyts commented on #477
@aretsan Thanks for opening this! We probably want to expose something similar to that, but not *exactly* that -- similar to `FuturesUnordered` and `Future::join_all`. I suspect we can do somewhat better API-wise (:

[2019-11-09 12:12] taiki-e commented on #488
by using [Arc](https://doc.rust-lang.org/nightly/std/sync/struct.Arc.html), you can avoid deep-copy.

[code]

[2019-11-09 12:28] taiki-e commented on #488
Ah, seems it's better to use `Arc<str>` because [it can convert &str directly to Arc](https://doc.rust-lang.org/nightly/alloc/sync/struct.Arc.html#impl-From%3C%26%27_%20str%3E) (avoid double boxing).

[code]

[2019-11-09 13:07] portgasd666 commented on #490
If this were implemented what would be the correct way to handle the non-determinism for the purpose of tests ?

[2019-11-09 13:51] k-nasa commented on #488
@taiki-e Tanks!!! 👍
I was able to do it!

[2019-11-10 00:45] k-nasa commented on #488
Thanks everyone

[2019-11-10 00:45] #488 closed

[2019-11-10 09:47] lparam opened #494 "illegal seek when access /dev/net/tun simultaneously"
[illegal-seek-demo.tar.gz](https://github.com/async-rs/async-std/files/3828281/illegal-seek-demo.tar.gz)

steps to reproduce
===

1. cargo build; sudo ./target/debug/demo
2. ping 10.0.5.2 in another terminal
3. press any key in the same terminal of the demo program

key code
======
[code]

[2019-11-10 11:33] stjepang commented on #494
When a keypress is received, the `line = lines_from_stdin.next().fuse()` case in `select!` will fire. At the same time, since the `r = tun_file.read(&mut tun_buf).fuse()` case doesn't fire, the `tun_file.read(&mut tun_buf).fuse()` future will be dropped, which means this read operation gets cancelled.

When canceling a read operation, inside the implementation of `async_std::fs::File` we will seek

[2019-11-10 11:40] stjepang commented on #494
Perhaps an easy solution would be to attempt to do `.seek(SeekFrom::Current(0))` when the file is opened, and if that fails, we never do any seeking on the file because the file is not seekable.

[2019-11-10 12:48] lparam commented on #494
Yep, setting a seekable flag is probably an easy way.

[2019-11-10 16:45] Ppjet6 opened #495 "§3.4 (Sending Messages) in the book requires a different version of futures"
## Steps to reproduce

- `futures-preview = { version = "0.3.0-alpha.19", features = [ "async-await" ] }` in `Cargo.toml` as recommended in §3.1.
- Try to build the example in https://book.async.rs/tutorial/sending_messages.html

[code]

## What happens

[code]

It seems to work with `futures = "0.3.0"`, and it's indeed what is being used in the `a-chat` example in the repo as of 122e87364bef463c5

[2019-11-10 17:18] yoshuawuyts commented on #495
@Ppjet6 Thanks for filing this! We should indeed fix this. I've marked this as "good first issue" as it should be relatively easy to update.

[2019-11-10 21:25] dignifiedquire opened #498 "PathBuf is missing Clone implementation"

[2019-11-10 22:37] dignifiedquire opened #499 "Missing properties on net::TcpStream"
When working with `TcpStream` I realized some things are still missing, this is a list for tracking those

- [x] `connect`
- [ ] `connect_timeout`
- [x] `local_addr`
- [ ] `nodelay`
- [ ] `peek`
- [x] `peer_addr`
- [ ] `read_timeout`
- [x] `set_nodelay`
- [ ] `set_nonblocking`
- [ ] `set_read_timeout`
- [x] `set_ttl`
- [ ] `set_write_timeout`
- [x] `shutdown`
- [ ] `take_error`
- [ ] `try_clone` (

[2019-11-10 23:31] #498 closed

[2019-11-11 00:33] k-nasa commented on #404
This seems to have been resolved! by #443

[2019-11-11 00:33] #404 closed

[2019-11-11 00:47] zhengxingjian commented on #480
``

Ok!

[2019-11-11 07:27] skade opened #500 "async_std::sync::Mutex examples still use std::sync::Arc"
After we decided to re-export `Arc` as `async_std::std::Arc`, the documentation should be updated:

https://docs.rs/async-std/0.99.12/async_std/sync/struct.Mutex.html

[2019-11-11 09:19] Razican commented on #490
Hi I would like to work on this if nobody is working on it :)

[2019-11-11 09:29] dunnock commented on #495
I like to take it if nobody is working on it now

[2019-11-11 09:43] stjepang opened #502 "Enable rustfmt flag: format_code_in_doc_comments"
I'm not sure whether we should really do this, but it'd be interesting to try:

* Add `format_code_in_doc_comments = true` to `rustfmt.toml`.
* Run `cargo fmt`.

[2019-11-11 10:09] dunnock opened #505 "Support wasm32-wasi compilation target - fix net2 dependency"
This is not directly related with this crate's source code, rather some dependencies.

Though when compiling to WASI for instance there are lots of errors from `net2` which should be fixable as os::wasi has implementation for missing values/methods:

[code]

[2019-11-11 10:10] #500 closed

[2019-11-11 10:17] k-nasa commented on #502
I try this!

[2019-11-11 10:22] dunnock commented on #505
It appears some issues were fixed in net2:master with https://github.com/rust-lang-nursery/net2-rs/pull/84 though net2 version was not released.

Adding direct git target to Cargo.toml does not fix it yet
[code]

it seems there are more issues now, due to wasi implementation changes:
[code]

[2019-11-11 13:20] tomaka commented on #499
Aren't all methods that end with `_timeout` hacks due to the synchronous nature of these operations in the stdlib? Do we really need to reproduce them in an asynchronous context?

[2019-11-11 13:57] dignifiedquire commented on #499
@tomaka they could still be useful, as convenience methods. Alternatively adding some documentation on how to achieve the same effect with the new tooling might be a better way to go.

[2019-11-11 18:23] Matthias247 commented on #362
@stjepang Are the sources of these benchmarks available somewhere?

Is it the ones of #370? If yes then I think the "contention" benchmarks do only a part of what the name says. It is only about contention within a single-thread, but cross-thread synchronization will never have an impact. In that kind of benchmark likely `futures_intrusive::sync::LocalMutex` would be blazing fast due to eliding sy

[2019-11-11 20:08] frehberg commented on #22
I have some time to work on a demonstrator, or did you port the QProcess to Rust already?

[2019-11-12 02:23] schulace commented on #477
The lack of this feature is a regression. Since 0.99 re-exported futures-preview which contained futures-preview's `Stream`, `for_each_concurrent` worked on 0.99 provided you also had futures-preview. Now, this doesn't work at all since you rewrote the traits and your `Stream` is no longer compatible with `futures::stream::Stream` and `futures::stream::StreamExt`.

[2019-11-12 02:31] yoshuawuyts commented on #477
@schulace futures 0.3 has been released, replacing futures-preview. We've since upgraded to it.

https://docs.rs/futures/0.3.1/futures/

[2019-11-12 10:24] rylev opened #516 "Not able to await on `write!` in spawned async task"
This is very easy to reproduce:

[code]

This leads to the following error:
[code]

This seems to be caused by `core::fmt::Void` not being `Send`. I would expect this to be able to work.

[2019-11-12 11:21] skade commented on #516
Acknowledged, that's a serious problem of the std family of macros, they are not Send.

[2019-11-12 13:42] leo60228 opened #518 "0.99.12 is a breaking change"
Traits from futures-preview are considered different than the ones in futures, and are no longer implemented on async-std types. As 1.0, a version allowed to have breakage, has been released, should 0.99.12 be yanked?

[2019-11-12 14:58] yoshuawuyts commented on #518
@leo60228 Hey, thanks for opening this. You're not wrong, `0.99.12` is indeed a breaking release. But unfortunately the same is true for every other version before it.

## How did our versioning work prior to 1.0.0?
The way we've done our pre-1.0 releases is not ideal. The semver spec says that `0.x.x` versions can introduce breaking changes by bumping their minor number. But we haven't quite done

[2019-11-12 14:58] #518 closed

[2019-11-12 16:47] #502 closed

[2019-11-12 20:03] mtthw-meyer opened #521 "Add UdpSocket::from_socket"
I want the ability to create an async-std::net::UdpSocket from a std::net::UpdSocket. Specifically I want create a socket with SO_REUSEADDR and SO_REUSEPORT enabled via net2 and then pass that socket into async-std::net::UdpSocket.

Something like this should work I think?

[code]

[2019-11-12 20:50] mtthw-meyer commented on #521
Never mind you implemented From and I missed it.

[2019-11-12 20:50] #521 closed

[2019-11-12 21:21] brandonros opened #522 "Extend examples to show more than just a single `task::block_on`"
Can somebody add an example of what this would look like:

[code]

I think having just a single `task::block_on` in each example isn't very "real world"

[2019-11-12 21:41] yoshuawuyts commented on #522
@brandonros the equivalent with `async-std` would be:

[code]

Or with the `"attributes"` feature enabled in `Cargo.toml`, and using closures, we can shorten it somewhat:

[code]

You're right tho, we should consider adding a larger example to our docs. Even if it's a single extra call, it might be useful for people new to async rust to see what it's like. Thanks for raising this!

[2019-11-12 22:11] yoshuawuyts commented on #480
It seems this was resolved; going to go ahead and close this. Thanks!

[2019-11-12 22:11] #480 closed

[2019-11-13 15:21] rylev commented on #516
@skade any thoughts on using locks to help with this or do you think the ergonomics hit is not worth the performance penalty?

[2019-11-13 15:37] skade commented on #516
/cc @stjepang @yoshuawuyts

We had some discussions around what the best solution is. We prefer a solution of _some_ kind that works, but are not exactly sure which one.

[2019-11-14 05:13] schulace commented on #477
Futures contains this same method for `StreamExt`. Is there a way to get your library to play nicely with `futures` or are you taking the tokio approach and saying "fuck you we'll roll our own (nearly) identical traits that don't work with anything else"

[2019-11-14 05:48] yoshuawuyts commented on #477
@schulace that's some harsh phrasing; but the answer is no. Our traits are re-exports from futures-rs. The only difference with futures-rs traits is that define our own custom Ext traits that we export from the `async_std::prelude::*`.

It should be possible to use the async-std prelude and futures prelude side-by-side.

[2019-11-14 05:51] yoshuawuyts commented on #516
The two options seem to be: either we introduce spawn_local, or std make Arguments Send.

[2019-11-14 19:52] mrpink76 opened #532 "Cannot access the "Sender" of a channel"
I am having problems passing a sender as a parameter to a function.

The following code:

[code]

gives the following error:
[code]

Is it an error or am I using it incorrectly?

Thanks for an awesome crate!

[2019-11-14 20:25] #342 closed

[2019-11-14 20:35] frehberg commented on #22
please see a first sketch of the proposed forkfd process-handle (under construction)
https://github.com/frehberg/rust/tree/process_handle

It is important that the feature will be available for the Posix platforms as well as VxWorks.
AFAICS, As the internal Windows-process API did already propose the function 'handle()', I reused this name instead of 'fd()'

[2019-11-14 21:04] dignifiedquire commented on #532
it is reexported at the top level `async_std::sync::Sender` should work.

[2019-11-14 21:29] #532 closed

[2019-11-14 21:30] mrpink76 commented on #532
Awesome! Thanks!

[2019-11-14 21:30] yoshuawuyts commented on #532
@dignifiedquire is right; going to go ahead and close this issue.

However we should probably file a backlink from `Sender` and `Receiver` to `channel` so it becomes a bit more discoverable. Thanks!

[2019-11-14 22:14] frehberg commented on #22
I filed a feature request https://github.com/rust-lang/rfcs/issues/2817

[2019-11-15 00:00] kpp commented on #7
@ansrivas `cargo new --bin` creates a project with

[code]

So I "believe" what they mean is not only to return "hello world" via `async fn` but to print it using `async_std::io::stdout`. So the main should look like:

[code]

You can master it with `async fn get_phrase() -> String { ... }` and with tests.

Correct me if I am wrong.

[2019-11-15 00:20] gsquire commented on #365
I saw another issue mentioning a `try_clone` method for `TcpStream` but the author solved it in another way. I think it would be nice to have a function that can "split" a `TcpStream` into a read half and a write half. My use case would be something like this snippet:

[code]

This way I can have a bi-directional flow between my client and server that is buffered.

[2019-11-15 03:33] bandheight opened #539 "To implement ToSocketAddrs for a custom type the ToSocketAddrsFuture should be pub use"

[2019-11-15 17:39] yoshuawuyts commented on #365
@gsquire you can put `TcpStream` inside of an `Arc` and it should mostly work the way you want it to already.

[2019-11-15 19:07] gsquire commented on #365
@yoshuawuyts I ran into borrowing issues since this was inside of a function that was making a new type. I'll re-evaluate and see where I end up. Maybe the [bufstream](https://github.com/alexcrichton/bufstream) crate will support `async-std` at some point.

[2019-11-16 07:05] tmccombs opened #549 "Consider making waker_set its own crate"
I think the waker_set implementation is useful in it's own right. At the very least futures-util has something very similar and could probably benefit from sharing the waker_set implementation between the crates. It also may be useful in implementing other synchronization abstractions or combinators that need to keep track of a list of tasks to notify.

[2019-11-16 07:28] sebastiencs commented on #365
Could you elaborate @yoshuawuyts ?
I also want both a `BufReader` and `Bufwriter` from a `TcpStream` and I can't find a way to achieve this currently.
Having a `try_clone` or `split` method would be nice.

[2019-11-16 09:51] yoshuawuyts commented on #365
I believe `Arc::new(TcpStream::connect(addr))` should just about do what you want it to; can then freely use the stream and `clone` it around. Because most methods use inner mutability only the signature is `&self`, so it's very flexible.

On phone now, so haven't had a chance to test this out. But afaik people have done this successfully before.

[2019-11-16 10:53] sebastiencs commented on #365
@yoshuawuyts The issue is that `BufReader::new` and `BufWriter::new` take their argument by value, not by ref.
So we can make either a `BufReader` or a `BufWriter`, not both

[2019-11-16 12:14] felipesere commented on #129
I've started to play with the Double ended iterators

[2019-11-16 15:08] stjepang commented on #365
This problem has a straightforward solution. :) We just need to implement `Read` and `Write` for `Arc<TcpStream>` and then you'll be able to do:

[code]

[2019-11-17 11:31] sebastiencs commented on #365
@stjepang Is that possible with the orphan rules ? `Read`, `Write` and `Arc` don't belong to `async-std`

[2019-11-18 11:24] yoshuawuyts commented on #365
@sebastiencs just tried this out, and it seems this is indeed not possible.

## Target program
[code]

## async-std impl

I added this to `src/net/tcp/stream.rs`
[code]

## Error

[code]

[2019-11-18 11:27] yoshuawuyts commented on #365
Oh, ugh nevermind. Figured it out; needed to do `&*` haha. Needed to trigger the deref, and then take ownership again. This works, no extra impls needed:

[code]

[2019-11-18 12:00] stjepang commented on #365
Indeed, it seems coherence rules don't allow the impl for `Arc<TcpStream>` :(

@yoshuawuyts `BufWriter::new(&*conn)` works, but now `BufWriter` is constrained by the lifetime of this temporary reference, whereas we'd prefer `BufWriter` to take ownership of the `Arc`.

[2019-11-18 12:07] stjepang commented on #365
Perhaps we should implement `Clone` for `TcpStream`?

[code]

In the standard library we have [`TcpStream::try_clone()`](https://doc.rust-lang.org/std/net/struct.TcpStream.html#method.try_clone), which calls [`dup()`](http://man7.org/linux/man-pages/man2/dup.2.html) on its file descriptor. The reason why this method is `try_clone()` is because `dup()` might fail.

I believe we could've also had a

[2019-11-18 12:14] yoshuawuyts opened #553 "Implement Clone for TcpStream"
As per https://github.com/async-rs/async-std/issues/365#issuecomment-554988241 we should implement `Clone` for `TcpStream`. The inner fd is already wrapped in an `Arc`, so cloning it should be straightforward. Thanks!

[2019-11-18 12:14] yoshuawuyts commented on #365
@stjepang ah yeah that'd be great. Filed an issue for it here: https://github.com/async-rs/async-std/issues/553

[2019-11-18 18:59] vavrusa commented on #79
I would be interested in this as well. The 0.3 futures have a decent [Spawn](https://docs.rs/futures/0.3.1/futures/task/trait.Spawn.html) mechanism for this. Perhaps async-std/task could implement something like:
[code]

The caller would be responsible for providing an appropriate implementation (e.g. if the task is blocking, a spawner that can handle blocking tasks).

[2019-11-19 06:08] k-nasa commented on #553
After all need a source clone, right?
I think you need to call mio :: tcp_stream :: try_clone.
If so, this should be try_clone, not clone.

[code]

[2019-11-19 11:30] matthewrobertbell opened #556 "Optionally merging TCPStreams"
Hello,

I have been writing code that is based on this example: https://github.com/async-rs/async-std/blob/master/examples/tcp-ipv4-and-6-echo.rs

I want to have something like this:

[code]

The logic here is that the application can listen on IPV4, IPV6, both, or neither, and be useful with any of those combinations. I am running into the listener having a different type to merged listeners. I n

[2019-11-19 14:24] wagnerf42 opened #558 "max_by_key is wrong"
hi, it seems to me that max_by_key is wrong.
i'm not 100% sure since I just started playing with futures and the error messages are kind of harsher than I'm used to.

the doc seems wrong to me :
[code]
I would expect a max of -3 and not 3.
also in the source code, the MaxByKeyFuture has a key_by fn which returns a S::Item and not a B

[2019-11-19 15:57] ciyool opened #560 "The number of tasks is greater than the number of cpu threads, and no messages are received."
The number of tasks is greater than the number of cpu threads, and no messages are received.
rust：1.39 stable
os：windows 10
cpu：8 threads
[code]

[2019-11-19 17:00] DemiMarie-parity commented on #293
This blocks <https://github.com/djc/quinn/issues/502>, which needs ECN support.

[2019-11-19 21:05] derekdreery commented on #470
I think this issue has been resolved?

[2019-11-19 22:13] yoshuawuyts commented on #470
@derekdreery indeed it is. Thanks for pointing it out!

[2019-11-19 22:13] #470 closed

[2019-11-19 22:39] yoshuawuyts commented on #560
@ciyool I'm unsure where the bug in your program lies, but in general you don't need the `futures-rs` library when using `async-std`. Also we wouldn't recommend using `std::thread` types in combination with non-blocking futures.

I've rewritten your example with async-std, and added comments on how it works. This seems to fix all bugs. Hope this is helpful!

[code]

[2019-11-19 22:39] #560 closed

[2019-11-19 22:43] #558 closed

[2019-11-19 22:44] yoshuawuyts commented on #558
@wagnerf42 You're indeed correct, thanks for reporting. We've merged the patch in #559 and this should be fixed in the next release. Thanks heaps!

[2019-11-19 22:47] yoshuawuyts commented on #556
@matthewrobertbell Rust wants types in all arms to always be the same. One type is `Merge`, the other is `TcpStream`, which aren't the same.

In this case what you could do is `merge` with a `stream::Empty` in the other branch to make both types the same. Or use type erasure using boxes, but that seems less efficient.

Hope this is helpful!

[2019-11-19 22:48] yoshuawuyts commented on #549
@tmccombs agree, that'd be great. I think @stjepang and I talked about it offline a while back, but we would like to also be able to share `AtomicWaker` alongside `WakerSet`.

[2019-11-19 22:48] yoshuawuyts commented on #549
Maybe we could use the `async-utils` name for this?

[2019-11-19 22:52] yoshuawuyts commented on #539
Ref https://docs.rs/async-std/1.0.1/async_std/net/trait.ToSocketAddrs.html. From a glance it seems this is indeed accurate. Since the result type from `ToSocketAddrs` is opaque, we could probably change it to be similar to [`FromStream::from_stream`](https://docs.rs/async-std/1.0.1/async_std/stream/trait.FromStream.html#tymethod.from_stream) without breaking anything.

@bandheight out of curiosity

[2019-11-19 22:53] yoshuawuyts commented on #516
It seems `format!("hello {}", "world");` doesn't work inside spawned tasks either. This should probably be passed back to the libs team.

[2019-11-19 23:17] mmstick commented on #22
Linux -- as of 5.3 -- supports a ["pidfd"](https://lwn.net/Articles/794707/) concept, which would eliminate the need for creating pipes between processes. Unlike a traditional PID, a PID fd is guaranteed to always point to the original process which was spawned, and can be passed into `poll()` for tracking the exit status. So you can achieve the same as forkfd, but without the need for pipes. The

[2019-11-19 23:21] mmstick commented on #22
Related: [mio-pidfd](https://github.com/samuelbrian/mio-pidfd)

[2019-11-20 09:45] aohan237 opened #563 "what should we do in async with ownership with tcpstream?"
what should we do in async with  ownership if something like spawn task which uses tcpstreams, which requires a mut borrow of the stream if you want to read or write

[2019-11-20 10:44] matthewrobertbell commented on #556
@yoshuawuyts thank you for your response. I had already tried using `empty`, but I gave it another shot, and got the same error:

[code]

[2019-11-20 11:14] yoshuawuyts opened #564 "Add Future::timeout"
Similar to [`future::timeout`](https://docs.rs/async-std/1.0.1/async_std/future/fn.timeout.html) and [`Stream::timeout`](https://docs.rs/async-std/1.0.1/async_std/stream/trait.Stream.html#method.timeout) we should add a `Future::timeout` method.

We already have `Future::delay`, and timeout would be a great counterpart. This is similar to stdlib's [`max`](https://doc.rust-lang.org/std/cmp/fn.max.h

[2019-11-20 11:31] yoshuawuyts opened #565 "Rewrite Barrier using WakerSet"
The `broadcaster` library has taken us very far, but unfortunately has dependencies on `futures_channel`. Now that we have `WakerSet` available internally (for now still, see #549) we should probably consider rewriting `Barrier` to use it.

It should both improve our compilation times, and performance. This would put us in a place where we could consider stabilizing the API. Thanks!

cc/ @tmccombs

[2019-11-20 11:31] yoshuawuyts commented on #490
This has been merged as part of #503. Thanks!

[2019-11-20 11:31] #490 closed

[2019-11-20 11:32] yoshuawuyts commented on #410
This seems to have been covered for our 1.0. release. Thanks for raising this!

[2019-11-20 11:32] #410 closed

[2019-11-20 11:35] k-nasa commented on #556
@matthewrobertbell

I think that is because the generic type is different even for the same Merge type.

[code]

Hmm. It's not a good way, but what about using trays and objects ❓

[2019-11-20 11:38] yoshuawuyts commented on #556
Or alternatively: invert the application logic, and define a new function with the application logic:

[code]

_note: I'm unsure if it should be `impl BufRead` or `dyn BufRead`; might need to play around with it_

[2019-11-20 11:41] yoshuawuyts commented on #553
@k-nasa I believe @stjepang argued this should be `clone` instead because we already have an `Arc<TcpStream>` internally; so there's no need to do an extra syscall to obtain an extra handle to it.

[2019-11-20 11:44] yoshuawuyts commented on #563
@aohan237 Thanks for opening this issue. The way we're going to resolve this is by implementing `Clone` for `TcpStream` so it can be passed around without problem. See https://github.com/async-rs/async-std/issues/553.

Because of interior mutability we don't need a mutable reference, but instead a normal reference is good enough. Which sidesteps a lot of issues. Prior discussion on this can also b

[2019-11-20 11:44] #563 closed

[2019-11-20 11:47] #453 closed

[2019-11-20 11:49] omac777 commented on #522
I totally agree there should be more examples surrounding the task::block_on.

For example how do we pass in arguments into this task block?
Everything I attempted to pass in i.e. &str, &Vec<String> all give me compiler errors that the variables do not survive lifetime of variable at the close of the task block.  I don't mind that, but I need to pass data into it in order to make these task blocks

[2019-11-20 11:53] yoshuawuyts commented on #494
We could also do this lazily and only check for the flag's existence the first time we try and wind back the read operation. When dealing with lots of small files the overhead of calling `seek` on file creation could be significant.

I think we could probably implement this by storing a `seekable: Option<bool>` flag inside our `File` struct.

[2019-11-20 11:59] stjepang commented on #556
@matthewrobertbell You can do the following (I've just tried it and it works):

[code]

[2019-11-20 12:04] yoshuawuyts opened #566 "Document re-exports better"
We use `#[doc(inline)]` for std and futures re-exports; this is nice because it creates a more cohesive feel for our library (which makes it easier to discover and learn). But it can sometimes be confusing for people what we re-export, and what not.

One way we could do this is by writing docs for all our re-exports, and what we've newly defined in each mod-level docs. This might be useful to crea

[2019-11-20 14:05] stjepang commented on #522
@omac777 Can you provide an example of code that gives this lifetime error?

[2019-11-20 14:48] killercup opened #569 "Make more errors verbose"
In #551 I added the ability to easily add details to `std::io::Error`s while not changing the type. This can make many error cases much more user friendly:

https://github.com/async-rs/async-std/blob/b3d30de4a11d785929a086e458ec1da4aec34bf3/src/fs/file.rs#L117-L118

I only added this in two places so far, though, `File::open` and `File::create`. Let's use this issue to track more places we should

[2019-11-20 17:23] miker1423 commented on #564
I like to take this if no one is working on it.

[2019-11-20 17:24] stjepang commented on #564
@miker1423 Go for it :)

[2019-11-20 18:27] abalmos commented on #566
My two cents:

This is important with the current state of fraction between rust async solutions. While working on compat layers between async-std and tokio (because tokio is still pondering adopting some of the futures 0.3 traits), I kept going down rabbits holes not realizing that something was a simple a re-export of `std` or `futures`. I think `async-std` should be celebrating that it doesn't

[2019-11-21 00:21] yoshuawuyts commented on #516
Related issue from the compiler: https://github.com/rust-lang/rust/pull/64856

[2019-11-21 02:29] aohan237 commented on #563
@yoshuawuyts
`let (reader, writer) = &mut (&stream, &stream); `seems odd, as the read() requires a &mut self, and it seems not do anything about interior mutability , how this works?
thanks in advance

[2019-11-21 09:25] stjepang commented on #563
@aohan237 If we implement `Clone` for `TcpStream`, you'd be able to do:

[code]

[2019-11-21 09:41] stjepang commented on #539
I'd be okay with changing the return type of `to_socket_addrs` to `Pin<Box<dyn Future>>` here. Performance impact of the change would be effectively none.

[2019-11-21 10:14] aohan237 commented on #563
@stjepang  sorry for my slow understandings.

io::copy seems that only copy steam content to dest, what's the different of simply copying the content?

and here is the scene:
such as we have to impl an tcp stream client, camunicating with a server

what if we have a task continously reads the stream, and multi task which can simutanously write different commands to the stream?

if implement clone

[2019-11-21 10:16] stjepang commented on #563
`stream.clone()` does not copy the contents of the stream, it only creates another handle to the same stream. Internally, `TcpStream` doesn't really need mutable access to read/write, that is only required by `Read`/`Write` traits. No mutex is therefore needed because the operating system will internally use a mutex on read/write operations.

[2019-11-21 10:31] aohan237 commented on #563
you make it very clear. many thanks.

this make sense why `let (reader, writer) = &mut (&stream, &stream);` works.

but why cant we make use of the Arc? the Read/Write traits require only a mut borrow

[2019-11-21 10:56] stjepang commented on #563
@aohan237 `Arc<TcpStream>` would also work, but it's more work :)

[code]

[2019-11-21 16:02] lparam commented on #494
How about add a seekable option for OpenOptions? e.g
[code]

[2019-11-21 17:32] #494 closed

[2019-11-21 19:41] matthewrobertbell commented on #556
Thanks to both answers, I have now solved this. I defined a new function with this signature:

[code]

and this calling code:

[code]
Cheers!

[2019-11-21 20:24] #522 closed

[2019-11-21 20:50] yoshuawuyts commented on #553
Seems like this was accidentally closed (:

[2019-11-21 22:27] zkat opened #575 "Performance regression with v1"
Heya. I noticed a significant (~2x) perf regression after upgrading to v1 recently. I also tested against 1.1.0 and didn't see a difference. The regression happens when doing filesystem reads (though it may happen in other situations -- I'm only sharing what my own benchmarks do).

## Repro

1. `git clone https://github.com/zkat/cacache-rs --branch async-std-regression`
2. `cd cacache-rs`
3. `carg

[2019-11-22 00:53] Xorlev opened #576 "Async std::os::unix::fs::FileExt read_at/write_at"
Hi folks,

I was curious whether async-std would be interested in an async port of `std::os::unix::fs::FileExt`. I'm writing a service right now that'd benefit from such a thing -- currently I've been doing it myself by using std::os::unix::fs::FileExt::read_at with `spawn_blocking`, but it'd be neat to be included in async-std.

If there's interest in this, I could try my hand at a PR.

[2019-11-22 00:54] stjepang commented on #576
Yes! :) We haven't quite finished the `async_std::os` module. A PR with `FileExt` would be very welcome!

[2019-11-22 09:35] bandheight commented on #539
@yoshuawuyts I implemented an `enum` type to represent multiple address types.

[code]
If this type implement the trait `ToSocketAddrs`,  it will be passed directly to `TcpListener::bind` and other similar functions.

[2019-11-22 22:13] miker1423 commented on #564
Sorry for the absence.
As I understood, I should add a new extension method to the Future trait?

[2019-11-23 09:16] tmccombs commented on #565
I can take a stab at this.

[2019-11-23 16:25] yoshuawuyts opened #578 "Better support for byte ordered reads and writes?"
Something that came up today was the question how to read and write bytes with using a certain endianness. @goto-bus-stop replied in chat with the following:

[code]

However they also pointed out that using [`byteorder`](https://docs.rs/byteorder/1.3.2/byteorder/trait.ByteOrder.html) one could do:

[code]

Which seems quite nice. A port of this functionality exists for Tokio in the form of [`toki

[2019-11-23 17:42] miker1423 commented on #564
Here is the implementation https://github.com/miker1423/async-std/commit/c1f7be5d42f9fbeb63250e2b4f75986d2ae94fec, I know the docs are incomplete, I just wrote to take away the warning.

[2019-11-23 20:21] faern opened #579 "Expose `Receiver::try_recv` API"
The current channels are not analogous to the libstd ones. A notable missing feature is `Receiver::try_recv` for taking an item from the channel in a non blocking fashion.

I have a service where background workers conjure fairly expensive resources (start virtual machines, all of which are identical) and they then pass handles to these via a channel. On the other end is a user facing API where ac

[2019-11-23 20:27] tekjar commented on #578
https://github.com/jonhoo/tokio-byteorder/pull/2

[2019-11-24 07:39] CGQAQ opened #580 "trait bound not satified"
[code]
[code]

what the heck is this error? async function should be return Future of ```Output = std::result::Result<reqwest::response::Response, reqwest::error::Error>```, why don't satisfy?How could I solve this?

[2019-11-24 10:53] zys864 opened #582 "The lib don't support IDE(vscode and Clion) auto-completion and Code hint"

[2019-11-24 11:02] tekjar opened #583 "Throttle results in 100% cpu"
[code]

![Screenshot from 2019-11-24 16-25-27](https://user-images.githubusercontent.com/6826529/69493704-fdfa0580-0ed7-11ea-9408-d7c666de58e0.png)

[2019-11-24 11:46] oribs1 commented on #582
I think this is more of an IDE issue, intellij-rust (CLion) has a corresponding issue: https://github.com/intellij-rust/intellij-rust/issues/4627)

[2019-11-24 12:20] #580 closed

[2019-11-24 15:42] yoshuawuyts commented on #583
I was able to reproduce this locally, uploaded a repro here: https://github.com/yoshuawuyts/repro-async-std-583.

[2019-11-24 15:46] yoshuawuyts commented on #583
Confirmed that this happens in release mode too.

![2019-11-24-164539_1920x1080](https://user-images.githubusercontent.com/2467194/69497126-c4c29500-0ed9-11ea-8cbc-f922327a75dc.png)

I now suspect this is caused because `thread::sleep` is called, and our scheduler doesn't know how to handle that so it bounces the task around indefinitely. The spikes *seem* to be happening only once `thread::sleep`

[2019-11-24 15:48] yoshuawuyts commented on #583
When applying this patch:

[code]

The output doesn't seem to spike, further corroborating the theory that this is caused by `thread::sleep` confusing the scheduler.

![2019-11-24-164752_1920x1080](https://user-images.githubusercontent.com/2467194/69497160-3864a200-0eda-11ea-9bfb-a242c26786b9.png)

[2019-11-24 15:50] yoshuawuyts commented on #583
Okay, no it's not the threads happening. I think you're right and it's indeed something about debounce perhaps? Will run a flame graph next.

Tested it with this patch, and got the same results:
[code]

![2019-11-24-165041_1920x1080](https://user-images.githubusercontent.com/2467194/69497196-8c6f8680-0eda-11ea-9c84-227d76ead599.png)

[2019-11-24 15:54] yoshuawuyts commented on #583
Yes okay, if we remove the `throttle` call the problem indeed goes away.

[code]

![2019-11-24-165347_1920x1080](https://user-images.githubusercontent.com/2467194/69497228-dc4e4d80-0eda-11ea-85bc-e4fa9944e59a.png)

[2019-11-24 16:16] yoshuawuyts commented on #583
Okay, ran the flame graph locally, but nothing stands out really. It's a flat line it seems :sweat_smile:

![2019-11-24-171658_1920x1080](https://user-images.githubusercontent.com/2467194/69497512-238a0d80-0ede-11ea-9eff-cddf557822f6.png)

[2019-11-24 16:27] yoshuawuyts commented on #583
Okay, it seems that I forgot to remove the `task::block_on` call from `task::spawn` when I was testing that out. The CPU spikes go away if we remove it.

[code]

Seems like this might still be related to #358 ?

[2019-11-24 17:09] tekjar commented on #583
[code]

Does this look like a legitimate use case? Looks so to me and cpu spikes in this case as well. `task::block_on` inside `thread::spawn` is a very similar case to using `task::block_on` in main.

Sure. But in my head, worst case of using synchronous apis inside a cooperative eventloop should cause a block (and hence no progress), not cpu spikes.

[2019-11-24 17:12] tekjar commented on #583
I doesn't to me. Maybe you throttle duration is very high (10 secs) and you are not waiting enough time?

[2019-11-24 17:21] tekjar commented on #583
[code]

Is this pattern very weird in async world. To me, all the asynchronous code is encapsulated in `task::block_on`. I would've used `task::sleep` inside it. But using `thread::sleep` outside doesn't look like an anti pattern

[2019-11-25 00:59] Matthias247 commented on #583
Here is your busy-loop: https://github.com/async-rs/async-std/blob/50cefce803c88f3cd321b3bc181427b2bc4b30ce/src/stream/stream/throttle.rs#L59

The usage pattern of @tekjar looks fine to me. It's doing thread blocking operations in a thread, and not in a task.

[2019-11-25 02:19] aohan237 commented on #563
@stjepang  sorry for my late response.
thanks a lot.  it really solves my problem.

[2019-11-25 11:29] yoshuawuyts commented on #580
@CGQAQ to my knowledge `reqwest` only works with `tokio` out of the box. If you're looking for a runtime-agnostic HTTP client, [`surf`](https://docs.rs/surf/1.0.3/surf/) might be an option.

[2019-11-25 11:46] SvetlinZarev commented on #582
It's an ide issue. You can try to switch to the experimental macro engine. It soved the issue for me:

Preferences -> Languages & Frameworks -> Rust -> Expand decl macros -> expand with experimental engine

[2019-11-25 12:27] yoshuawuyts commented on #22
Thanks for sharing @mmstick It seems that overall the implementation here is really straight forward; without imports or helpers it's like 16 lines? I wonder if we could send in a patch to `libc` to expose this on Linux.

[code]

[2019-11-25 12:35] CGQAQ commented on #580
Thank you very much, I already know whats happend, that's why I closed this issue.
And I also filed a new issue about this pretty frustrating experience [issue page](https://github.com/rust-lang/rust/issues/66731)

[2019-11-25 12:43] yaahc commented on #22
I'm still following this but I think it should be unassigned from me because when i tried digging into it, it seemed a bit more complicated than I originally anticipated, and now that there's seemingly a lot of progress it makes sense for someone else to take over the issue, I'm still here and willing to help though.

[2019-11-25 19:43] yoshuawuyts commented on #539
@bandheight does the following work for you?

[code]

If we don't already support `ToSocketAddr` for `(String, u16)` then we should add that!

[2019-11-25 19:46] yoshuawuyts commented on #564
@miker1423 yeah that's in the right direction. I don't believe the pub modifiers are needed; `pub(crate)` should suffice. If you could submit the PR it'd make it easier to review. Thanks heaps for your work1

[2019-11-25 19:47] mtthw-meyer opened #586 "BufWriter not flushed"
If you run the attached code, connect a client, and then terminate it the time stamp is not flushed to disk (as expected?). Adding an explicit call to flush() fixed it but seems like it should not be necessary.

https://gist.github.com/mtthw-meyer/34d85197e01d686dacca5cf1cd6b28b3

[2019-11-25 19:50] yoshuawuyts commented on #586
@mtthw-meyer could you perhaps upload the code to github or put it in a gist? I'd rather not unzip files locally. Thanks!

[2019-11-26 03:47] caibirdme commented on #582
@SvetlinZarev Followed your step, but it still doesn't work for me. (mac clion2019.2.1 rust1.39.0)

[2019-11-26 04:54] k-nasa commented on #556
It ’s solved, so close it.

[2019-11-26 04:54] #556 closed

[2019-11-26 10:37] bandheight commented on #539
@yoshuawuyts This code is worked.
And it is also my current solution, but I want to make my code look more neat and elegant.
So implement the trait `ToSocketAddrs` is probably the best solution.

[code]

I vote for it that support `ToSocketAddr` for `(String, u16)`.

[2019-11-26 13:06] withoutboats commented on #586
I was just about to file an issue about the documentation being wrong. For now (until async destructors are possible) probably the best thing would be to change the documentation, which is currently inaccurate.

The docs state:

This is true of std's BufWriter type, but not of async-std's type. async-std's type does nothing on Drop, and you have to explicitly call flush to flush it. This is not su

[2019-11-26 13:23] #586 closed

[2019-11-27 00:55] mmstick commented on #22
I can work on this. It's critical for the kind of work that I do on the Linux desktop. I've been stuck with using tokio for all of our software because of needing the process support more than anything else.

[2019-11-27 03:47] mmstick commented on #22
I've created a `pidfd` crate, which provides a `PidFd` type, which implements `std::future::Future` using `libc::poll`. Any `std::process::Child` can be converted into a `PidFd` for awaiting process termination concurrently. You may also get the `RawFd` from the type, as it implements `AsRawFd`.

- Repository: https://github.com/pop-os/pidfd
- Crates: https://crates.io/crates/pidfd

Given that thi

[2019-11-27 06:09] jerryc05 opened #590 "Using async_std::println! in async function/closure in task::spawn"
Hi, I want to pass in an async function/closure as an argument of a non-async function, and call it in `task::spawn()`, but the compiler failed me.

The error can be reproduced via:
[code]
The error message was:
[code]
Any idea to solve this? Thanks in advance!

[2019-11-27 08:28] jerryc05 commented on #590
After a few hours' debugging, the problem seemed to be inside `async_std::println!`. After I remove all `println!` calls, the problem disappeared.

[2019-11-27 11:22] skade commented on #590
Closing this as a duplicate of https://github.com/async-rs/async-std/issues/516

Thanks for the report! This is a general problem of the format! macro, to be fixed in Rust soon.

[2019-11-27 11:22] #590 closed

[2019-11-27 12:43] stjepang opened #591 "Channels holding ZST should not allocate buffers"
If a channel holds values of a zero-sized-type, it should not even allocate a buffer for storing values and stamps.

[2019-11-27 14:47] #583 closed

[2019-11-27 15:24] matthewrobertbell opened #592 "An Example for UDP Multicast"
The code snippet here: https://docs.rs/async-std/1.1.0/async_std/net/struct.UdpSocket.html#method.join_multicast_v4 is a start, but as someone who has never used multicast before, I think a full example that does something like multicast a given value every n seconds, while listening for packets from other multicasters could be very useful.

[2019-11-27 16:20] yoshuawuyts commented on #592
@matthewrobertbell I'd love to have this. Remember trying this back when `runtime` was new, and couldn't get it to work. Having a full example for this would be *fantastic*.

My understanding, however, is that in order for it to work locally (e.g. connect multiple clients) a flag needs to be set to enable ip re-use. This can currently only be done by running a syscall on the `fd`, or using https:/

[2019-11-27 17:05] tomaka commented on #592
For what it's worth, rust-libp2p has an implementation of that (that uses async-std!)
https://github.com/libp2p/rust-libp2p/blob/master/misc/mdns/src/service.rs

The API is unfortunately not perfect, as we have to conform to traits that were designed around polling.